In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

data_dir = "C:/Users/mmh/OneDrive - Oak Ridge National Laboratory/Melrose/9.Data/nhts/"
map_dir = "C:/Users/mmh/OneDrive - Oak Ridge National Laboratory/Melrose/8.Maps/"
export_dir = 'C:/Users/mmh/OneDrive - Oak Ridge National Laboratory/Melrose/1.Rural report/results/'

In [2]:
adjweights = pd.read_csv(data_dir+"2017/county_wt_adj.csv")

# Read dataset 2009, 2017, and 2022

## hh

In [3]:
hh = pd.read_csv(data_dir+"2017/hhpub.csv") # 129696 households
hh['HOUSEID'] = hh['HOUSEID'].apply(str)
hh_nys = pd.read_csv(data_dir+"2017/nys_household.csv") 
hh_nys['HOUSEID'] = hh_nys['HOUSEID'].apply(str)
hh_nys = hh_nys[hh_nys.HHSTATE == 'NY']
hh_nys = hh_nys.drop(columns='WTHHFIN')
hh_nys = hh_nys.rename(columns={'WTHHFIN_ADJ':'WTHHFIN'})
NYChouseholds = list(set(hh_nys.loc[hh_nys['CNTYFIPS'].isin([36047,36061,36081,36085,36005]),'HOUSEID']))
print(len(hh_nys))
hh['Region'] = hh['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
NYShouseholds = list(set(hh_nys.HOUSEID))
hh = hh[~hh.HOUSEID.isin(NYShouseholds)]

# remvoe zero weight households
zeroWeight = hh[hh.WTHHFIN==0].HOUSEID
hh = hh[~hh.HOUSEID.isin(zeroWeight)]
print('Non-NYS households: '+str(len(hh)))
zeroWeight_nys = hh_nys[hh_nys.WTHHFIN==0].HOUSEID
hh_nys = hh_nys[~hh_nys.HOUSEID.isin(zeroWeight_nys)]
print('NYS households: '+str(len(hh_nys)))

# urban class
hh['URBRUR'] = hh['URBRUR'].map({1:'Urban',2:'Rural'})
hh_nys['URBRUR'] = hh_nys['URBRUR'].map({1:'Urban',2:'Rural'})
hh_nys['URBRUR_NYC'] = 'non-NYC Rural'
hh_nys.loc[(~hh_nys.HOUSEID.isin(NYChouseholds))&(hh_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
hh_nys.loc[(hh_nys.HOUSEID.isin(NYChouseholds)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural households: '+str(len(hh_nys[hh_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban households: '+str(len(hh_nys[hh_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC households: '+str(len(hh_nys[hh_nys.URBRUR_NYC=='NYC'])))

%store hh
%store hh_nys
tmp = pd.concat([hh[['HOUSEID','URBRUR']],hh_nys[['HOUSEID','URBRUR']]])
tmp.to_csv(export_dir+'hh_rural_mapping_2017.csv',index=False)
hh_nys.head()

17169
Non-NYS households: 112527
NYS households: 17169
non-NYC Rural households: 5357
non-NYC Urban households: 10343
NYC households: 1469
Stored 'hh' (DataFrame)
Stored 'hh_nys' (DataFrame)

,HOUSEID,TRAVDAY,SAMPSTRAT,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,PC,SPHONE,TAB,WALK,BIKE,CAR,TAXI,BUS,TRAIN,PARA,PRICE,PLACE,WALK2SAVE,BIKE2SAVE,PTRANS,HHRELATD,DRVRCNT,CNTTDHH,HHSTATE,HHSTFIPS,NUMADLT,YOUNGCHILD,WRKCOUNT,TDAYDATE,HHRESP,LIF_CYC,MSACAT,MSASIZE,RAIL,URBAN,URBANSIZE,URBRUR,GASPRICE,LD_DIST,SCRESP,CENSUS_D,CENSUS_R,CDIVMSAR,HH_RACE,HH_HISP,HH_CBSA,RESP_CNT,WEBUSE17,SMPLSRCE,WTHHFIN5D,MPO_NY,CNTYFIPS,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,WTHHFIN,WTHHFIN5D_ADJ,URBRUR_NYC
0,30000012,5,3,1,1,2,10,1,1,3,2,5,1,5,4,4,5,2,1,2,3,5,2,1,9,NY,36,1,0,1,201607,1,1,3,3,2,1,3,Urban,233.8,-1,1,2,1,23,1,2,10580,1,1,2,122.639991,CDTC,36001,C,80,17000,17000,5000,60,17000,7000,82.315298,126.109668,non-NYC Urban
1,30000082,3,3,2,4,2,8,1,1,5,-9,5,1,5,5,5,5,3,3,5,5,5,1,2,12,NY,36,2,2,2,201605,1,4,3,3,2,1,3,Urban,241.3,-1,1,2,1,23,1,2,10580,4,1,2,1847.698989,CDTC,36001,T,20,1500,300,750,30,750,300,1190.695993,1899.973284,non-NYC Urban
2,30000130,1,1,1,2,1,5,-9,1,-9,-9,-9,-1,-9,1,1,-9,1,1,1,-9,1,1,2,4,NY,36,2,0,2,201605,1,2,1,5,1,1,5,Urban,240.8,-1,1,2,1,21,1,2,35620,2,1,1,NaN,NYMTC,36047,U,60,30000,17000,5000,70,30000,17000,4649.985371,NaN,NYC
4,30000380,2,3,2,3,1,3,1,1,2,-9,-9,1,4,4,-9,-9,1,-9,-9,-9,-9,1,2,18,NY,36,2,0,1,201610,1,6,3,1,2,1,1,Urban,239.5,-1,1,2,1,23,1,2,48060,3,1,2,543.001433,WJCTC,36045,S,50,3000,1500,1500,50,3000,1500,344.806001,501.198983,non-NYC Urban
5,30000434,7,3,1,2,2,8,1,1,3,1,2,1,5,5,4,5,-9,2,2,3,3,1,2,6,NY,36,2,0,2,201605,1,2,3,2,2,4,6,Rural,239.9,-1,1,2,1,23,1,2,46540,2,1,2,NaN,HOCTS,36043,R,30,1500,750,750,30,750,300,123.424629,NaN,non-NYC Rural

In [4]:
hh_nys.loc[(hh_nys.HHSIZE==4)&(hh_nys.URBRUR=='Rural'),'WTHHFIN'].sum()/hh_nys.loc[(hh_nys.URBRUR=='Rural'),'WTHHFIN'].sum()*100
hh.loc[(hh.HHSIZE==4)&(hh.URBRUR=='Rural'),'WTHHFIN'].sum()/hh.loc[(hh.URBRUR=='Rural'),'WTHHFIN'].sum()*100

14.045440326159273

In [5]:
hh2009 = pd.read_csv(data_dir+"2009National/HHV2PUB.CSV")
hh2009['HOUSEID'] = hh2009['HOUSEID'].apply(str)
print('Public households: '+str(len(hh2009))) # 150147
hh2009_nys = pd.read_sas(data_dir+"2009NYSDOT/ny_hhv2.sas7bdat", format = 'sas7bdat', encoding="utf-8")
hh2009_nys['HOUSEID'] = hh2009_nys['HOUSEID'].apply(str)
hh2009_nys = hh2009_nys[hh2009_nys['HHSTATE']=='NY'] # filter out other states!
# missing variable in nys
hh2009_nys = pd.merge(hh2009_nys,hh2009[['HOUSEID','HBPPOPDN']],on='HOUSEID',how='left')

urbanClass = pd.read_csv(data_dir+"2009National/cen10pub/cen10pub.csv")
urbanClass['HOUSEID'] = urbanClass['HOUSEID'].apply(str)# re

hh2009['Region'] = hh2009['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
NYShouseholds2009 = list(set(hh2009_nys.HOUSEID))
domainhh = pd.read_sas(data_dir+"2009NYSDOT/strat_domainhh.sas7bdat", format = 'sas7bdat', encoding="utf-8")
NYChouseholds2009 = list(set(domainhh.loc[domainhh['DOMAIN01'].isin([812,813,814,815,816]),'HOUSEID']))
hh2009 = hh2009[~hh2009.HOUSEID.isin(NYShouseholds2009)]

# remvoe zero weight households
zeroWeight2009 = hh2009[hh2009.WTHHFIN==0].HOUSEID
hh2009 = hh2009[~hh2009.HOUSEID.isin(zeroWeight2009)]
print('Non-NYS households: '+str(len(hh2009)))
zeroWeight2009_nys = hh2009_nys[hh2009_nys.WTHHFIN==0].HOUSEID
hh2009_nys = hh2009_nys[~hh2009_nys.HOUSEID.isin(zeroWeight2009_nys)]
print('NYS households: '+str(len(hh2009_nys)))

# to integer
cols_filtered = hh2009_nys.columns.difference(['HH_CBSA','HHC_MSA','HH_PERSWRKR','HH_RACOS',
                                               'HOMEOWOS','HHSTATE','CNTYNYOS','HOMETYOS','LANDCELL',
                                               'HOUSEID'])
hh2009_nys[cols_filtered] = hh2009_nys[cols_filtered].astype(int)

# urban class
hh2009 = hh2009.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
hh2009 = pd.merge(hh2009,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
hh2009 = hh2009.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
hh2009['URBRUR'] = hh2009['URBRUR'].map({1:'Urban',2:'Rural'})
hh2009_nys = hh2009_nys.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
hh2009_nys = pd.merge(hh2009_nys,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
hh2009_nys = hh2009_nys.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
hh2009_nys['URBRUR'] = hh2009_nys['URBRUR'].map({1:'Urban',2:'Rural'})
hh2009_nys['URBRUR_NYC'] = 'non-NYC Rural'
hh2009_nys.loc[(~hh2009_nys.HOUSEID.isin(NYChouseholds2009))&(hh2009_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
hh2009_nys.loc[(hh2009_nys.HOUSEID.isin(NYChouseholds2009)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural households: '+str(len(hh2009_nys[hh2009_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban households: '+str(len(hh2009_nys[hh2009_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC households: '+str(len(hh2009_nys[hh2009_nys.URBRUR_NYC=='NYC'])))

# save
%store hh2009
%store hh2009_nys
tmp = pd.concat([hh2009[['HOUSEID','URBRUR']],hh2009_nys[['HOUSEID','URBRUR']]])
tmp.to_csv(export_dir+'hh_rural_mapping_2009.csv',index=False)
hh2009.head()

Public households: 150147
Non-NYS households: 133982
NYS households: 16165
non-NYC Rural households: 4555
non-NYC Urban households: 9564
NYC households: 2046
Stored 'hh2009' (DataFrame)
Stored 'hh2009_nys' (DataFrame)

,HOUSEID,VARSTRAT,WTHHFIN,DRVRCNT,CDIVMSAR,CENSUS_D,CENSUS_R,HH_HISP,HH_RACE,HHFAMINC,HHRELATD,HHRESP,HHSIZE,HHSTATE,HHSTFIPS,HHVEHCNT,HOMEOWN,HOMETYPE,MSACAT,MSASIZE,NUMADLT,RAIL,RESP_CNT,SCRESP,TRAVDAY,WRKCOUNT,TDAYDATE,FLAG100,LIF_CYC,CNTTDHH,HBHUR,HTRESDN,HTHTNRNT,HTPPOPDN,HTEEMPDN,HBRESDN,HBHTNRNT,HBPPOPDN,HH_CBSA,HHC_MSA,Region,URBAN,URBANSIZE,URBRUR
0,20000017,48,264.194694,2,33,3,2,2,1,18,-1,2,3,IN,18,3,1,1,3,3,3,2,3,-1,4,1,200904,1,10,13,TC,300,5,300,75,300,5,300,XXXXX,XXXX,Rest of the U.S.,4,6,Rural
1,20000231,61,1278.129886,1,73,7,3,1,1,8,-1,1,1,TX,48,1,1,2,3,3,1,2,1,1,4,1,200812,1,1,5,S,1500,30,3000,1500,1500,5,3000,XXXXX,XXXX,Rest of the U.S.,1,3,Urban
2,20000521,59,383.450599,2,73,7,3,1,1,6,-1,1,2,TX,48,2,1,1,3,3,2,2,2,-1,1,1,200902,1,10,6,U,1500,30,3000,3000,3000,20,7000,XXXXX,XXXX,Rest of the U.S.,1,3,Urban
3,20001603,37,131.599182,2,74,7,3,2,1,16,-1,1,2,TX,48,3,1,1,4,6,2,2,2,-1,3,1,200808,1,10,16,TC,50,20,50,25,50,20,50,19100,-1,Rest of the U.S.,4,6,Rural
4,20001649,27,704.594690,2,33,3,2,2,1,17,-1,1,2,WI,55,3,1,1,3,2,2,2,2,-1,5,0,200806,1,10,14,TC,300,20,300,750,300,30,750,XXXXX,XXXX,Rest of the U.S.,1,2,Urban

In [6]:
hh2009_nys.loc[hh2009_nys.URBRUR_NYC=='NYC','URBRUR'].value_counts()

Urban    2046
Name: URBRUR, dtype: int64

## person

In [7]:
person = pd.read_csv(data_dir+"2017/perpub.csv")
person['HOUSEID'] = person['HOUSEID'].apply(str)
print('Public persons ge 5: '+str(len(person)))
person_nys = pd.read_csv(data_dir+"2017/nys_person.csv")
person_nys['HOUSEID'] = person_nys['HOUSEID'].apply(str)
person_nys = person_nys[person_nys.HHSTATE == 'NY']

# remove younger than 5
person = person[person.R_AGE_IMP>=5]
person_nys = person_nys[person_nys.R_AGE_IMP>=5]

person['Region'] = person['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
person = person[~person.HOUSEID.isin(NYShouseholds)]

# remvoe zero weight households and persons
person = person[~person.HOUSEID.isin(zeroWeight)]
person = person[person.WTPERFIN!=0]
print('Non-NYS persons: '+str(len(person)))
person_nys = person_nys[~person_nys.HOUSEID.isin(zeroWeight_nys)]
person_nys = person_nys[person_nys.WTPERFIN!=0]
print('NYS persons: '+str(len(person_nys)))

# urban class
person['URBRUR'] = person['URBRUR'].map({1:'Urban',2:'Rural'})
person_nys['URBRUR'] = person_nys['URBRUR'].map({1:'Urban',2:'Rural'})
person_nys['URBRUR_NYC'] = 'non-NYC Rural'
person_nys.loc[(~person_nys.HOUSEID.isin(NYChouseholds))&(person_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
person_nys.loc[(person_nys.HOUSEID.isin(NYChouseholds)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural persons: '+str(len(person_nys[person_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban persons: '+str(len(person_nys[person_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC persons: '+str(len(person_nys[person_nys.URBRUR_NYC=='NYC'])))

#save
%store person
%store person_nys
person_nys.head()

Public persons ge 5: 264234
Non-NYS persons: 229724
NYS persons: 34510
non-NYC Rural persons: 11152
non-NYC Urban persons: 20475
NYC persons: 2883
Stored 'person' (DataFrame)
Stored 'person_nys' (DataFrame)

,HOUSEID,PERSONID,R_AGE,EDUC,R_HISP,R_RELAT,R_SEX,R_RACE,PRMACT,PAYPROF,GT1JBLWK,WRK_HOME,WKFTPT,WRKTRANS,LSTTRDAY17,OCCAT,SCHTYP,NWALKTRP,WALK4EX,NBIKETRP,BIKE4EX,BIKESHARE,MCUSED,CARSHARE,RIDESHARE,TIMETOWK,NOCONG,PUBTIME,WRKTIME,WKRMHM,FLEXTIME,WKFMHMXX,SCHTRN1,SCHTRN2,DELIVER,MEDCOND,MEDCOND6,HEALTH,PHYACT,VPACT,LPACT,BORNINUS,YRTOUS,YEARMILE,PROXY,WHOPROXY,USEPUBTR,SAMEPLC,W_NONE,W_CANE,W_WLKR,W_WHCANE,W_DOG,W_CRUTCH,W_SCOOTR,W_CHAIR,W_MTRCHR,NY_PARK,NY_PARKMODE,NY_DRIVE_1,NY_DRIVE_2,NY_DRIVE_3,NY_DRIVE_4,NY_DRIVE_NA,NY_DRIVE_DK,NY_DRIVE_RF,WORKER,DIARY,OUTCNTRY,FRSTHM17,CNTTDTR,GCDWORK,WKSTFIPS,OUTOFTWN,DISTTOWK17,DISTTOSC17,TRAVDAY,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,DRVRCNT,HHSTATE,HHSTFIPS,NUMADLT,WRKCOUNT,TDAYDATE,HHRESP,LIF_CYC,MSACAT,MSASIZE,RAIL,URBAN,URBANSIZE,URBRUR,CENSUS_D,CENSUS_R,CDIVMSAR,HH_RACE,HH_HISP,HH_CBSA,SMPLSRCE,WTPERFIN,WTPERFIN5D,MPO_NY,CNTYFIPS,R_AGE_IMP,R_SEX_IMP,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,PTUSED,CARRODE,DRIVER,ALT_16,ALT_23,ALT_45,WALK_DEF,WALK_GKQ,BIKE_DFR,BIKE_GKP,CONDTRAV,CONDRIDE,CONDNIGH,CONDRIVE,CONDPUB,CONDSPEC,CONDTAX,WTPERFIN_ADJ,WTPERFIN5D_ADJ,URBRUR_NYC
0,30000012,1,45,5,2,1,2,1,1,-1,2,2,1,3,-1,4,-1,6,6,0,-1,-1,-1,0,0,00:00:30,12,-1,07:30 AM,2,2,-1,-1,-1,5,2,-1,2,3,7,-1,1,-1,17000,1,1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,7,-1,1,-1,-1,-1,-1,-1,-1,1,1,2,1,9,4.60,36,2,6.82,-9.0,5,1,1,2,10,1,NY,36,1,1,201607,1,1,3,3,2,1,3,Urban,2,1,23,1,2,10580,2,58.966275,90.171393,CDTC,36001,45,2,C,80,17000,17000,5000,60,17000,7000,0,1,1,3,1,3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,65.847932,95.662199,non-NYC Urban
1,30000082,1,39,5,2,1,2,1,1,-1,2,2,1,3,-1,2,-1,3,2,0,-1,-1,-1,0,0,00:00:04,3,-1,08:30 AM,1,1,2,-1,-1,3,2,-1,2,2,-1,2,1,-1,8000,1,1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,7,-1,1,-1,-1,-1,-1,-1,-1,1,1,2,1,5,1.04,36,2,1.65,-9.0,3,2,4,2,8,2,NY,36,2,2,201605,1,4,3,3,2,1,3,Urban,2,1,23,1,2,10580,2,1028.814768,1614.294729,CDTC,36001,39,2,T,20,1500,300,750,30,750,300,0,1,1,1,1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1148.882545,1712.593956,non-NYC Urban
2,30000082,2,38,4,2,2,1,1,1,-1,2,2,1,3,-1,4,-1,0,-1,0,-1,-1,-1,0,0,00:00:42,36,-1,08:45 AM,1,2,2,-1,-1,5,2,-1,2,2,-1,2,1,-1,15000,1,2,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,7,-1,1,-1,-1,-1,-1,-1,-1,1,1,2,1,7,24.35,36,2,30.04,-9.0,3,2,4,2,8,2,NY,36,2,2,201605,1,4,3,3,2,1,3,Urban,2,1,23,1,2,10580,2,1296.339345,2063.557226,CDTC,36001,38,1,T,20,1500,300,750,30,750,300,0,1,1,3,1,3,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1447.628564,2189.213388,non-NYC Urban
5,30000130,1,45,5,2,1,2,1,1,-1,2,2,1,11,-1,2,-1,5,5,0,-1,-1,-1,0,0,00:01:00,-1,10,09:00 AM,2,2,-1,-1,-1,0,2,-1,3,2,-1,5,2,1995,-88,1,1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,7,-1,-1,-1,-1,-1,7,-1,-1,1,1,2,1,4,9.65,36,2,14.60,-9.0,1,1,2,1,5,2,NY,36,2,2,201605,1,2,1,5,1,1,5,Urban,2,1,21,1,2,35620,1,3705.493904,NaN,NYMTC,36047,45,2,U,60,30000,17000,5000,70,30000,17000,20,-9,1,3,4,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,4976.894688,NaN,NYC
6,30000130,2,45,4,2,2,1,1,1,-1,2,2,1,11,2,2,-1,6,6,0,-1,-1,-1,0,0,00:01:00,-1,15,09:00 AM,2,2,-1,-1,-1,0,2,-1,2,3,6,-1,2,1995,6000,2,1,2,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,7,-1,-1,-1,-1,-1,7,-1,-1,1,2,2,1,0,11.95,36,2,20.22,-9.0,1,1,2,1,5,2,NY,36,2,2,201605,1,2,1,5,1,1,5,Urban,2,1,21,1,2,35620,1,4361.900229,NaN,NYMTC,36047,45,1,U,60,30000,17000,5000,70,30000,17000,5,-9,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,5858.522139,NaN,NYC

In [8]:
person2009 = pd.read_csv(data_dir+"2009National/PERV2PUB.CSV")
person2009['HOUSEID'] = person2009['HOUSEID'].apply(str)
person2009['PERSONID'] = person2009['PERSONID'].apply(int)
print('public persons ge 5: '+str(len(person2009)))
person2009_nys = pd.read_sas(data_dir+"2009NYSDOT/ny_persv2.sas7bdat", format = 'sas7bdat', encoding='ISO-8859-1')
person2009_nys['HOUSEID'] = person2009_nys['HOUSEID'].apply(str)
person2009_nys['PERSONID'] = person2009_nys['PERSONID'].apply(int)

person2009_nys = person2009_nys[person2009_nys['HHSTATE']=='NY'] # filter out other states!
person2009_nys = person2009_nys.drop(columns=['WTPERFINN'])
# missing variable in nys
person2009_nys = pd.merge(person2009_nys,person2009[['HOUSEID','PERSONID','HBPPOPDN']],on=['HOUSEID','PERSONID'],how='left')

# remove younger than 5
person2009 = person2009[person2009.R_AGE>=5]
person2009_nys = person2009_nys[person2009_nys.R_AGE>=5]

person2009['Region'] = person2009['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
person2009 = person2009[~person2009.HOUSEID.isin(NYShouseholds2009)]

# remvoe zero weight households and persons
person2009 = person2009[~person2009.HOUSEID.isin(zeroWeight2009)]
person2009 = person2009[person2009.WTPERFIN!=0]
print('Non-NYS persons: '+str(len(person2009)))
person2009_nys = person2009_nys[~person2009_nys.HOUSEID.isin(zeroWeight2009_nys)]
person2009_nys = person2009_nys[person2009_nys.WTPERFIN!=0]
print('NYS persons: '+str(len(person2009_nys)))

# to integer
not_integer = person2009_nys.columns[person2009_nys.apply(pd.to_numeric, errors='coerce').isnull().any()].tolist()
cols_filtered = list(person2009_nys.columns.difference(not_integer))
person2009_nys[cols_filtered] = person2009_nys[cols_filtered].astype(np.int64)
person2009_nys['HOUSEID'] = person2009_nys['HOUSEID'].apply(str)

# urban class
person2009 = person2009.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
person2009 = pd.merge(person2009,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
person2009 = person2009.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
person2009['URBRUR'] = person2009['URBRUR'].map({1:'Urban',2:'Rural'})
person2009_nys = person2009_nys.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
person2009_nys = pd.merge(person2009_nys,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
person2009_nys = person2009_nys.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
person2009_nys['URBRUR'] = person2009_nys['URBRUR'].map({1:'Urban',2:'Rural'})

person2009_nys['URBRUR_NYC'] = 'non-NYC Rural'
person2009_nys.loc[(~person2009_nys.HOUSEID.isin(NYChouseholds2009))&(person2009_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
person2009_nys.loc[(person2009_nys.HOUSEID.isin(NYChouseholds2009)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural persons: '+str(len(person2009_nys[person2009_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban persons: '+str(len(person2009_nys[person2009_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC persons: '+str(len(person2009_nys[person2009_nys.URBRUR_NYC=='NYC'])))

#save
%store person2009
%store person2009_nys
person2009_nys.head()

public persons ge 5: 308901
Non-NYS persons: 275466
NYS persons: 33435
non-NYC Rural persons: 9806
non-NYC Urban persons: 19701
NYC persons: 3928
Stored 'person2009' (DataFrame)
Stored 'person2009_nys' (DataFrame)

,HOUSEID,HH_CBSA,HHC_MSA,PERSONID,VARSTRAT,VARUNIT,WTPERFIN,SFWGT,HH_HISP,HH_RACE,DRVRCNT,CMPLTPCT,HHCNTYFP,HHCT,HHFAMINC,HHSIZE,HHVEHCNT,HOMEOWN,HOMETYPE,NUMADLT,WRKCOUNT,FLAG100,LIF_CYC,CNTTDTR,AGE5PLUS,AGERANGE,ASKSECTF,BORNINUS,C13_DRVR,CARRODE,CBSACAT,CBSASIZE,CDIVMSAR,CENSUS_D,CENSUS_R,CONDNIGH,CONDPUB,CONDRIDE,CONDRIVE,CONDSPEC,CONDTAX,CONDTRAV,DELIVER,DIARY,DIARYCMP,DIARYHAV,DIFFDATE,DIFFDATE_FLG,DISTTOSC,DRIVER,DRVR,DTACDT,DTCONJ,DTCOST,DTRAGE,DTRAN,DTWALK,EDUC,EMPLOYER,EVERDROV,F12,F12_01,F12_02,F12_03,F12_04,F12_05,FLEXTIME,FMSCSIZE,FRSTHM,FXDWKPL,GCDWORK,GRADE,GT1JBLWK,HH_CSA,HH_HB_F,HH_MSA,HHCITYFP,HHP_MSA,HHMETDIV,HHRESP,HHSTATE,HHSTFIPS,IMPTAGE,IMPTSEX,IMPTHB,ISSUE,JOBCATEG,JOBCATOS,LANDCELL,LANG,LSTTRDAY,MAINRSLT,MCUSED,MEDCOND,MEDCOND6,MOROFTEN,MSACAT,MSASIZE,NBIKETRP,NWALKTRP,OUTCNTRY,OUTOFTWN,PAYPROF,PERINDT2,PRMACT,PRMDRVR1,PRMDRVR2,PRMDRVR3,PROXY,PTUSED,PURCHASE,R_AGE,R_RELAT,R_SEX,RAIL,SAMEPLC,SAMPQTR,SCHCARE,SCHCRIM,SCHDIST,SCHNAME,SCHSPD,SCHTRAF,SCHTRN1,SCHTRN1O,SCHTRN2,SCHTRN2O,SCHTYP,SCHWTHR,SELF_EMP,STRATUM,TDAYDAT2,TIMETOSC,TIMETOWK,TOSCSIZE,TRAVDAY,USEINTST,USEPUBTR,VERYRMIL,WEBUSE,WKCNFIPS,WKCNTYA,WKCTFIPS,WKFMHMXX,WKFTPT,WKRMHM,WKSTFIPS,WORKCT,WORKER,WORKGEO,WORKLOC,WORKSTAT,WORKZIP,WRKAMPM,WRKHR,WRKMIN,WRKR,WRKTIME,WRKTRANS,WRKTRNOS,YEARMIL2,YEARMILE,YRMLCAP,YRTOUS,WGTYRMON,DISTTOWK,TDAYDATE,HHR_HISP,HHR_RACE,HBPPOPDN,URBAN,URBANSIZE,URBRUR,URBRUR_NYC
0,20001283,35620,5602,1,26,1,1770,0,2,2,1,1,61,21600,3,1,0,2,3,1,0,1,9,4,-1,-1,2,1,-1,-1,1,1,21,2,1,-1,-1,-1,-1,-1,-1,-1,-1,2,2,-1,3,0,-1,1,2,-1,-1,1,-1,-1,-1,3,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,408,2,-1,51000,5600,35004,1,NY,36,2,2,2,4,-1,-1,L,1,-1,C1,-1,2,-1,-1,1,5,0,14,-1,-1,2,20080623,6,-1,-1,-1,1,2,0,72,1,1,1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,17,20080620,-1,-1,-1,6,2,1,-1,2,-1,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,200806,-1,200806,2,2,30000,1,5,Urban,NYC
1,20006167,XXXXX,XXXX,1,8,2,36,0,2,1,1,1,91,60901,1,2,1,1,1,2,0,1,10,0,-1,-1,2,1,-1,-1,3,3,23,2,1,-1,-1,-1,-1,-1,-1,-1,-1,2,2,-1,5,0,-1,2,2,-1,-1,-1,-1,-1,2,1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,104,4,160,-1,-1,-1,1,NY,36,2,2,2,3,-1,-1,L,1,-1,C1,-1,2,-1,-1,3,3,0,0,1,1,2,20081230,-8,-1,-1,-1,1,1,-1,96,1,2,2,-1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,2,20081225,-1,-1,-1,5,-1,-1,-1,-8,-1,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,200812,-1,200812,2,1,50,4,6,Rural,non-NYC Rural
2,20006167,XXXXX,XXXX,2,8,2,66,0,2,1,1,1,91,60901,1,2,1,1,1,2,0,1,10,0,-1,-1,2,1,-1,-1,3,3,23,2,1,-1,-1,-1,-1,-1,-1,-1,-1,2,2,-1,5,0,-1,1,1,3,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,104,4,160,-1,-1,-1,1,NY,36,2,2,2,6,-1,-1,L,1,1,C1,-1,2,-1,-1,3,3,0,7,-1,-1,2,20081230,7,1,-1,-1,1,0,-1,40,8,2,2,1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,2,20081225,-1,-1,-1,5,-1,-1,-1,5,-1,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,1,-8,-1,-1,200812,-1,200812,2,1,50,4,6,Rural,non-NYC Rural
3,20006233,35620,5602,1,9,1,2641,0,2,1,0,1,47,51000,14,1,0,2,3,1,1,1,1,6,-1,-1,2,1,-1,-1,1,1,21,2,1,-1,-1,-1,-1,-1,-1,-1,2,1,1,1,1,0,-1,2,2,-1,-1,-1,3,-1,-1,3,THE STATE UNIVERSITY OF NY,1,-1,-1,-1,-1,-1,-1,2,-1,1,-1,0,-1,2,408,4,-1,51000,5600,35644,1,NY,36,2,2,2,5,4,-1,L,1,-1,C1,-1,2,-1,-1,1,5,0,7,-1,-1,-1,20081221,1,-1,-1,-1,1,30,2,55,1,2,1,-1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,2,16,20081220,-1,20,-1,7,2,2,-1,1,47,Kings,51000,-1,1,2,36,81600,1,1,1,NY,11203,1,8,25,1,08:25AM,23,-1,-1,-1,-1,-1,200812,3,200812,2,1,30000,1,5,Urban,NYC
4,20008723,XXXXX,XXXX,1,41,2,43,0,2,1,2,0,107,20702,8,2,3,1,1,2,0,2,2,5,-1,-1,2,1,-1,-1,3,4,23,2,1,-1,-1,-1,-1,-1,-1,-1,-1,2,2,-1,1,0,-1,1,1,-1,-1,3,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,-1,-1,4,960,78806,-1,-1,1,NY,36,2,2,2,4,-1,-1,L,1,-1,C1,-1,2,-1,-1,3,2,0,0,-1,-1,2,20080904,4,1,-1,-1,1,0,0,49,1,2,2,-1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,12,20080903,-1,-1,-1,4,-8,2,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,2,-1,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,1,-8,-1,-1,200809,-1,200809,2,1,300,2,6,Urban,non-NYC Urban

In [9]:
# total number of persons
x = person_nys.loc[(person_nys.URBRUR=='Rural'),'WTPERFIN_ADJ'].sum()
print('total number of persons in rural 2017 '+str(x))
x = person2009_nys.loc[(person2009_nys.URBRUR=='Rural'),'WTPERFIN'].sum()
print('total number of persons in rural 2009 '+str(x))
x = person_nys.loc[(person_nys.URBRUR=='Urban'),'WTPERFIN_ADJ'].sum()
print('total number of persons in urban 2017 '+str(x))
x = person2009_nys.loc[(person2009_nys.URBRUR=='Urban'),'WTPERFIN'].sum()
print('total number of persons in urban 2009 '+str(x))

total number of persons in rural 2017 2048015.6764808912
total number of persons in rural 2009 2303100
total number of persons in urban 2017 16562687.3234757
total number of persons in urban 2009 15961989

In [10]:
# total number of persons did not travel
x = person_nys.loc[(person_nys.URBRUR=='Rural')&(person_nys.CNTTDTR==0),'WTPERFIN_ADJ'].sum()
print('total number of persons did not travel in rural 2017 '+str(x))
x = person2009_nys.loc[(person2009_nys.URBRUR=='Rural')&(person_nys.CNTTDTR==0),'WTPERFIN'].sum()
print('total number of persons did not travel in rural 2009 '+str(x))
x = person_nys.loc[(person_nys.URBRUR=='Urban')&(person_nys.CNTTDTR==0),'WTPERFIN_ADJ'].sum()
print('total number of persons did not travel in urban 2017 '+str(x))
x = person2009_nys.loc[(person2009_nys.URBRUR=='Urban')&(person_nys.CNTTDTR==0),'WTPERFIN'].sum()
print('total number of persons did not travel in urban 2009 '+str(x))

total number of persons did not travel in rural 2017 409291.3925688906
total number of persons did not travel in rural 2009 369883
total number of persons did not travel in urban 2017 2911460.7813779283
total number of persons did not travel in urban 2009 2797833

## veh

In [11]:
veh = pd.read_csv(data_dir+"2017/vehpub.csv")
veh['HOUSEID'] = veh['HOUSEID'].apply(str)
print('Public vehicles: '+str(len(veh)))
# veh = veh[veh['PERSONID'].isin([1,2,3,4,5,6,7,8,9,10])]
veh_nys = pd.read_csv(data_dir+"2017/nys_vehicle.csv")
veh_nys['HOUSEID'] = veh_nys['HOUSEID'].apply(str)
veh_nys = veh_nys[veh_nys.HHSTATE == 'NY']
veh_nys = veh_nys.drop(columns='WTHHFIN')
veh_nys = veh_nys.rename(columns={'WTHHFIN_ADJ':'WTHHFIN'})

veh['Region'] = veh['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
veh = veh[~veh.HOUSEID.isin(NYShouseholds)]

# remvoe zero weight households
veh = veh[~veh.HOUSEID.isin(zeroWeight)]
print('Non-NYS vehicles: '+str(len(veh)))
veh_nys = veh_nys[~veh_nys.HOUSEID.isin(zeroWeight_nys)]
print('NYS vehicles: '+str(len(veh_nys)))

# urban class
veh['URBRUR'] = veh['URBRUR'].map({1:'Urban',2:'Rural'})
veh_nys['URBRUR'] = veh_nys['URBRUR'].map({1:'Urban',2:'Rural'})
veh_nys['URBRUR_NYC'] = 'non-NYC Rural'
veh_nys.loc[(~veh_nys.HOUSEID.isin(NYChouseholds))&(veh_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
veh_nys.loc[(veh_nys.HOUSEID.isin(NYChouseholds)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural vehs: '+str(len(veh_nys[veh_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban vehs: '+str(len(veh_nys[veh_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC vehs: '+str(len(veh_nys[veh_nys.URBRUR_NYC=='NYC'])))

%store veh
%store veh_nys
veh_nys.head()

Public vehicles: 256115
Non-NYS vehicles: 225298
NYS vehicles: 30817
non-NYC Rural vehs: 11650
non-NYC Urban vehs: 17841
NYC vehs: 1326
Stored 'veh' (DataFrame)
Stored 'veh_nys' (DataFrame)

,HOUSEID,VEHID,VEHYEAR,VEHAGE,MAKE,MODEL,FUELTYPE,VEHTYPE,WHOMAIN,OD_READ,HFUEL,VEHOWNED,VEHOWNMO,HYBRID,TRAVDAY,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,DRVRCNT,HHSTATE,HHSTFIPS,NUMADLT,WRKCOUNT,TDAYDATE,LIF_CYC,MSACAT,MSASIZE,RAIL,URBAN,URBANSIZE,URBRUR,CENSUS_D,CENSUS_R,CDIVMSAR,HH_RACE,HH_HISP,HH_CBSA,SMPLSRCE,WTHHFIN5D,MPO_NY,CNTYFIPS,ANNMILES,BESTMILE,BEST_FLG,BEST_EDT,BEST_OUT,HBHUR,HTHTNRNT,HTPPOPDN,HTRESDN,HTEEMPDN,HBHTNRNT,HBPPOPDN,HBRESDN,PERSONID,GSYRGAL,GSTOTCST,FEGEMPG,FEGEMPGA,GSCOST,FEGEMPGF,WTHHFIN,WTHHFIN5D_ADJ,URBRUR_NYC
0,30000012,1,2011,6,58,58037,1,1,1,70115,-1,1,-1,2,5,1,1,2,10,1,NY,36,1,1,201607,1,3,3,2,1,3,Urban,2,1,23,1,2,10580,2,122.639991,CDTC,36001,11000,4616.917047,1,-1,-1,C,80,17000,17000,5000,60,17000,7000,1,219.853193,542.011404,21,-9,2.465333,1,82.315298,126.109668,non-NYC Urban
1,30000012,2,2004,13,12,12473,1,3,1,68204,-1,1,-1,2,5,1,1,2,10,1,NY,36,1,1,201607,1,3,3,2,1,3,Urban,2,1,23,1,2,10580,2,122.639991,CDTC,36001,6000,4002.551052,1,-1,-1,C,80,17000,17000,5000,60,17000,7000,1,250.159441,616.726408,16,-9,2.465333,1,82.315298,126.109668,non-NYC Urban
2,30000082,1,2011,6,41,41051,1,1,2,83644,-1,1,-1,2,3,2,4,2,8,2,NY,36,2,2,201605,4,3,3,2,1,3,Urban,2,1,23,1,2,10580,2,1847.698989,CDTC,36001,15000,12366.599911,1,-1,-1,T,20,1500,300,750,30,750,300,2,494.663996,1219.511639,25,-9,2.465333,1,1190.695993,1899.973284,non-NYC Urban
3,30000082,2,2007,10,49,49051,1,1,1,120615,-1,1,-1,2,3,2,4,2,8,2,NY,36,2,2,201605,4,3,3,2,1,3,Urban,2,1,23,1,2,10580,2,1847.698989,CDTC,36001,8000,13364.831987,1,-1,-1,T,20,1500,300,750,30,750,300,1,417.651000,1029.648931,32,-9,2.465333,1,1190.695993,1899.973284,non-NYC Urban
4,30000130,1,2013,4,49,49403,1,3,1,-88,-1,1,-1,2,1,1,2,1,5,2,NY,36,2,2,201605,2,1,5,1,1,5,Urban,2,1,21,1,2,35620,1,NaN,NYMTC,36047,-9,10441.887017,2,-1,-1,U,60,30000,17000,5000,70,30000,17000,1,522.094351,1287.136606,20,-9,2.465333,1,4649.985371,NaN,NYC

In [12]:
veh_nys.loc[veh_nys.URBRUR_NYC=='NYC','URBRUR'].value_counts()

Urban    1326
Name: URBRUR, dtype: int64

In [32]:
veh2009 = pd.read_csv(data_dir+"2009National/VEHV2PUB.CSV")
veh2009['HOUSEID'] = veh2009['HOUSEID'].apply(str)
veh2009['VEHID'] = veh2009['VEHID'].astype(int).apply(str)
print('Public vehicles: '+str(len(veh2009)))
# veh2009 = veh2009[veh2009['PERSONID'].isin([1,2,3,4,5,6,7,8,9,10,11,12,13,14])]
veh2009_nys = pd.read_sas(data_dir+"2009NYSDOT/ny_vehv2.sas7bdat", format = 'sas7bdat', encoding='ISO-8859-1')
veh2009_nys['HOUSEID'] = veh2009_nys['HOUSEID'].apply(str)
veh2009_nys['VEHID'] = veh2009_nys['VEHID'].astype(int).apply(str)
veh2009_nys = veh2009_nys[veh2009_nys['HHSTATE']=='NY'] # filter out other states!

# add variable BESTMILE from public file
veh2009_nys = pd.merge(veh2009_nys,veh2009[['HOUSEID','VEHID','BESTMILE']],on=['HOUSEID','VEHID'],how='left').fillna(0)

veh2009['Region'] = veh2009['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
veh2009 = veh2009[~veh2009.HOUSEID.isin(NYShouseholds2009)]

# remvoe zero weight households
veh2009 = veh2009[~veh2009.HOUSEID.isin(zeroWeight2009)]
print('Non-NYS vehicles: '+str(len(veh2009)))
veh2009_nys = veh2009_nys[~veh2009_nys.HOUSEID.isin(zeroWeight2009_nys)]
print('NYS vehicles: '+str(len(veh2009_nys)))

# to integer
cols_filtered = veh2009_nys.columns.difference(['HH_CBSA','HHC_MSA','LANDCELL','HHSTATE','MAKENAME','MODLNAME','VEHTYOS', 
                                               'HOUSEID'])
veh2009_nys[cols_filtered] = veh2009_nys[cols_filtered].astype(int)

# urban class
veh2009 = veh2009.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
veh2009 = pd.merge(veh2009,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
veh2009 = veh2009.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
veh2009['URBRUR'] = veh2009['URBRUR'].map({1:'Urban',2:'Rural'})
veh2009_nys = veh2009_nys.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
veh2009_nys = pd.merge(veh2009_nys,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
veh2009_nys = veh2009_nys.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
veh2009_nys['URBRUR'] = veh2009_nys['URBRUR'].map({1:'Urban',2:'Rural'})
veh2009_nys['URBRUR_NYC'] = 'non-NYC Rural'
veh2009_nys.loc[(~veh2009_nys.HOUSEID.isin(NYChouseholds2009))&(veh2009_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
veh2009_nys.loc[(veh2009_nys.HOUSEID.isin(NYChouseholds2009)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural households: '+str(len(veh2009_nys[veh2009_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban households: '+str(len(veh2009_nys[veh2009_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC households: '+str(len(veh2009_nys[veh2009_nys.URBRUR_NYC=='NYC'])))

%store veh2009
%store veh2009_nys
veh2009_nys.head()

Public vehicles: 309163
Non-NYS vehicles: 279385
NYS vehicles: 29778
non-NYC Rural households: 10093
non-NYC Urban households: 17666
NYC households: 2019
Stored 'veh2009' (DataFrame)
Stored 'veh2009_nys' (DataFrame)

,HOUSEID,HH_CBSA,HHC_MSA,VARSTRAT,VARUNIT,WTHHFIN,VEHID,HH_HISP,HH_RACE,DRVRCNT,CMPLTPCT,HHCNTYFP,HHCT,HHFAMINC,HHSIZE,HHVEHCNT,HOMEOWN,HOMETYPE,NUMADLT,FLAG100,LIF_CYC,LANDCELL,WGTYRMON,CBSACAT,CBSASIZE,CDIVMSAR,CENSUS_D,CENSUS_R,ESTMILE2,ESTMILES,HH_CSA,HH_MSA,HHCITYFP,HHP_MSA,HHMETDIV,HHSTATE,HHSTFIPS,HYBRID,L_MAKE,L_MODEL,L_VYEAR,LANG,MAKECODE,MODLCODE,MAKENAME,MODLNAME,MSACAT,MSASIZE,OD_DAY,OD_MONTH,OD_READ,OD_YEAR,OWNUNIT,RAIL,SAMPQTR,STRATUM,TDAYDAT2,TRAVDAY,VEH12MNT,VEHCOMM,VEHMILE2,VEHMILES,VEHOWNED,VEHOWNMO,VEHTYPE,VEHTYOS,VEHYEAR,VERESTML,VERMILES,WHOMAIN,WRKCOUNT,TDAYDATE,VEHAGE,PERSONID,BESTMILE,URBAN,URBANSIZE,URBRUR,URBRUR_NYC
0,20006167,XXXXX,XXXX,8,2,51,1,2,1,1,1,91,60901,1,2,1,1,1,2,1,10,L,200812,3,3,23,2,1,-1,-1,104,160,-1,-1,-1,NY,36,-1,49,-8,1994,1,49,-8,TOYOTA,-8,3,3,-1,-1,-1,-1,-1,2,2,2,20081225,5,-1,2,1,-8,-8,-1,1,-1,1994,-1,-1,2,0,200812,15,2,12729,4,6,Rural,non-NYC Rural
1,20008723,XXXXX,XXXX,41,2,66,1,2,1,2,0,107,20702,8,2,3,1,1,2,2,2,L,200809,3,4,23,2,1,-1,-1,-1,960,78806,-1,-1,NY,36,2,12,442,2003,1,12,442,FORD,WINDSTAR,3,2,4,9,68050,2008,4,2,2,12,20080903,4,2,2,1,-8,5,60,2,-1,2003,-1,-1,1,0,200809,6,1,9804,2,6,Urban,non-NYC Urban
2,20008723,XXXXX,XXXX,41,2,66,2,2,1,2,0,107,20702,8,2,3,1,1,2,2,2,L,200809,3,4,23,2,1,-1,-1,-1,960,78806,-1,-1,NY,36,-1,12,481,1995,1,12,481,FORD,PICKUP: F-SERIES,3,2,-8,-8,-8,-8,4,2,2,12,20080903,4,2,2,-1,500,4,48,4,-1,1995,-1,1,2,0,200809,14,2,8698,2,6,Urban,non-NYC Urban
3,20008723,XXXXX,XXXX,41,2,66,3,2,1,2,0,107,20702,8,2,3,1,1,2,2,2,L,200809,3,4,23,2,1,-1,50,-1,960,78806,-1,-1,NY,36,-1,12,481,1993,1,12,481,FORD,PICKUP: F-SERIES,3,2,-8,-8,-8,-8,3,2,2,12,20080903,4,1,2,-1,-1,2,2,4,-1,1993,-1,-1,99,0,200809,16,99,5512,2,6,Urban,non-NYC Urban
4,20009092,XXXXX,XXXX,45,2,50,1,2,1,1,1,65,23000,3,1,1,1,2,1,1,9,L,200808,3,3,23,2,1,-1,-1,-1,8680,-1,-1,-1,NY,36,2,2,404,2002,1,2,404,JEEP / KAISER-JEEP,4X4 CHEROKEE,3,2,21,8,81525,2008,3,2,2,5,20080821,5,2,2,-1,1000,18,18,3,-1,2002,-1,1,1,0,200808,7,1,1957,1,1,Urban,non-NYC Urban

In [31]:
veh2009[veh2009.HOUSEID=='20006167']

,HOUSEID,WTHHFIN,VEHID,DRVRCNT,HHFAMINC,HHSIZE,HHVEHCNT,NUMADLT,FLAG100,CDIVMSAR,CENSUS_D,CENSUS_R,HHSTATE,HHSTFIPS,HYBRID,MAKECODE,MODLCODE,MSACAT,MSASIZE,OD_READ,RAIL,TRAVDAY,URBAN,URBANSIZE,URBRUR,VEHCOMM,VEHOWNMO,VEHYEAR,WHOMAIN,WRKCOUNT,TDAYDATE,VEHAGE,PERSONID,HH_HISP,HH_RACE,HOMEOWN,HOMETYPE,LIF_CYC,ANNMILES,HBHUR,HTRESDN,HTHTNRNT,HTPPOPDN,HTEEMPDN,HBRESDN,HBHTNRNT,HBPPOPDN,BEST_FLG,BESTMILE,BEST_EDT,BEST_OUT,FUELTYPE,GSYRGAL,GSCOST,GSTOTCST,EPATMPG,EPATMPGF,EIADMPG,VEHTYPE,HH_CBSA,HHC_MSA
29,20006167,51.046521,1,1,1,2,1,2,1,23,2,1,NY,36,-1,49,-8,3,3,-1,2,5,4,6,2,2,-1.0,1994,2,0,200812,15,2,2,1,1,1,10,2500.0,TC,50,20,50,25,50,20,50,2,12729.362203,-1,4,4,545,3.05,1666,27.4,1,23.3,1,XXXXX,XXXX

In [33]:
veh2009_nys.BESTMILE.describe()

count     29778.000000
mean      10576.765330
std        9792.129244
min          -9.000000
25%        4692.750000
50%        8990.000000
75%       14218.750000
max      200000.000000
Name: BESTMILE, dtype: float64

## trip

In [15]:
trip = pd.read_csv(data_dir+"2017/trippub.csv")
print('Public trip: '+str(len(trip)))
trip['HOUSEID'] = trip['HOUSEID'].apply(str)
trip_nys = pd.read_csv(data_dir+"2017/nys_trip.csv")
trip_nys['HOUSEID'] = trip_nys['HOUSEID'].apply(str)

# remove age
trip = trip[trip.R_AGE_IMP>=5]
trip_nys = trip_nys[trip_nys.R_AGE_IMP>=5]

trip['Region'] = trip['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
trip = trip[~trip.HOUSEID.isin(NYShouseholds)]

# remvoe zero weight households and persons
trip = trip[~trip.HOUSEID.isin(zeroWeight)]
trip = trip[trip.WTTRDFIN!=0]
print('Non-NYS trip: '+str(len(trip)))
trip_nys = trip_nys[~trip_nys.HOUSEID.isin(zeroWeight_nys)]
trip_nys = trip_nys[trip_nys.WTTRDFIN!=0]
print('NYS trip: '+str(len(trip_nys)))

# fix some trips
trip_nys.loc[(trip_nys.HOUSEID=='40499852')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==1),'TRPMILAD']=1
trip_nys.loc[(trip_nys.HOUSEID=='40499852')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==2),'TRVLCMIN']=30
trip_nys.loc[(trip_nys.HOUSEID=='40289409')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==2),'TRPMILAD']=2
trip_nys.loc[(trip_nys.HOUSEID=='40289409')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==3),'TRPMILAD']=2
trip_nys.loc[(trip_nys.HOUSEID=='40289409')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==4),'TRPMILAD']=5
trip_nys.loc[(trip_nys.HOUSEID=='40289409')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==2),'TRVLCMIN']=10
trip_nys.loc[(trip_nys.HOUSEID=='40289409')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==3),'TRVLCMIN']=15
trip_nys.loc[(trip_nys.HOUSEID=='40289409')&(trip_nys.PERSONID==2)&(trip_nys.TDTRPNUM==4),'TRVLCMIN']=15

# urban class
trip['URBRUR'] = trip['URBRUR'].map({1:'Urban',2:'Rural'})
trip_nys['URBRUR'] = trip_nys['URBRUR'].map({1:'Urban',2:'Rural'})
trip_nys['URBRUR_NYC'] = 'non-NYC Rural'
trip_nys.loc[(~trip_nys.HOUSEID.isin(NYChouseholds))&(trip_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
trip_nys.loc[(trip_nys.HOUSEID.isin(NYChouseholds)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural trips: '+str(len(trip_nys[trip_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban trips: '+str(len(trip_nys[trip_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC trips: '+str(len(trip_nys[trip_nys.URBRUR_NYC=='NYC'])))

# save
%store trip
%store trip_nys
trip.head()

Public trip: 923572
Non-NYS trip: 803441
NYS trip: 120414
non-NYC Rural trips: 36830
non-NYC Urban trips: 74128
NYC trips: 9456
Stored 'trip' (DataFrame)
Stored 'trip_nys' (DataFrame)

,HOUSEID,PERSONID,TDTRPNUM,STRTTIME,ENDTIME,TRVLCMIN,TRPMILES,TRPTRANS,TRPACCMP,TRPHHACC,VEHID,TRWAITTM,NUMTRANS,TRACCTM,DROP_PRK,TREGRTM,WHODROVE,WHYFROM,LOOP_TRIP,TRPHHVEH,HHMEMDRV,HH_ONTD,NONHHCNT,NUMONTRP,PSGR_FLG,PUBTRANS,TRIPPURP,DWELTIME,TDWKND,VMT_MILE,DRVR_FLG,WHYTRP1S,ONTD_P1,ONTD_P2,ONTD_P3,ONTD_P4,ONTD_P5,ONTD_P6,ONTD_P7,ONTD_P8,ONTD_P9,ONTD_P10,ONTD_P11,ONTD_P12,ONTD_P13,TDCASEID,TRACC_WLK,TRACC_POV,TRACC_BUS,TRACC_CRL,TRACC_SUB,TRACC_OTH,TREGR_WLK,TREGR_POV,TREGR_BUS,TREGR_CRL,TREGR_SUB,TREGR_OTH,WHYTO,TRAVDAY,HOMEOWN,HHSIZE,HHVEHCNT,HHFAMINC,DRVRCNT,HHSTATE,HHSTFIPS,NUMADLT,WRKCOUNT,TDAYDATE,HHRESP,LIF_CYC,MSACAT,MSASIZE,RAIL,URBAN,URBANSIZE,URBRUR,GASPRICE,CENSUS_D,CENSUS_R,CDIVMSAR,HH_RACE,HH_HISP,HH_CBSA,SMPLSRCE,R_AGE,EDUC,R_SEX,PRMACT,PROXY,WORKER,DRIVER,WTTRDFIN,WHYTRP90,TRPMILAD,R_AGE_IMP,R_SEX_IMP,VEHTYPE,OBHUR,DBHUR,OTHTNRNT,OTPPOPDN,OTRESDN,OTEEMPDN,OBHTNRNT,OBPPOPDN,OBRESDN,DTHTNRNT,DTPPOPDN,DTRESDN,DTEEMPDN,DBHTNRNT,DBPPOPDN,DBRESDN,Region
0,30000007,1,1,1000,1015,15,5.244,3,0,0,3,-1,-1,-1,-1,-1,1,1,2,1,1,1,0,1,2,2,HBO,295,2,5.244,1,20,1,2,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,300000070101,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,19,2,1,3,5,7,3,NC,37,3,1,201608,1,10,3,1,2,1,1,Urban,228.4,5,3,53,2,2,XXXXX,2,67,3,2,6,1,2,1,75441.905796,5,5.847584,67,2,1,T,T,50,1500,750,750,20,750,300,50,750,300,350,30,300,300,Rest of the U.S.
1,30000007,1,2,1510,1530,20,5.149,3,0,0,3,-1,-1,-1,-1,-1,1,19,2,1,1,1,0,1,2,2,HBO,-9,2,5.149,1,1,1,2,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,300000070102,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,2,1,3,5,7,3,NC,37,3,1,201608,1,10,3,1,2,1,1,Urban,228.4,5,3,53,2,2,XXXXX,2,67,3,2,6,1,2,1,75441.905796,5,5.741650,67,2,1,T,T,50,750,300,350,30,300,300,50,1500,750,750,20,750,300,Rest of the U.S.
2,30000007,2,1,700,900,120,84.004,6,0,0,5,-1,-1,-1,-1,-1,2,3,2,1,1,1,0,1,2,2,HBW,540,2,84.004,1,1,2,1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,300000070201,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,2,1,3,5,7,3,NC,37,3,1,201608,1,10,3,1,2,1,1,Urban,228.4,5,3,53,2,2,XXXXX,2,66,3,1,1,2,1,1,71932.645806,1,90.178294,66,1,4,S,T,40,1500,750,750,40,1500,750,50,1500,750,750,20,750,300,Rest of the U.S.
3,30000007,2,2,1800,2030,150,81.628,6,0,0,5,-1,-1,-1,-1,-1,2,1,2,1,1,1,0,1,2,2,HBW,-9,2,81.628,1,10,2,1,2,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,300000070202,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,3,2,1,3,5,7,3,NC,37,3,1,201608,1,10,3,1,2,1,1,Urban,228.4,5,3,53,2,2,XXXXX,2,66,3,1,1,2,1,1,71932.645806,1,87.627658,66,1,4,T,S,50,1500,750,750,20,750,300,40,1500,750,750,40,1500,750,Rest of the U.S.
4,30000007,3,1,845,900,15,2.250,3,0,0,1,-1,-1,-1,-1,-1,3,1,2,1,1,1,0,1,2,2,HBO,330,2,2.250,1,20,2,2,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,300000070301,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,8,2,1,3,5,7,3,NC,37,3,1,201608,1,10,3,1,2,1,1,Urban,228.4,5,3,53,2,2,XXXXX,2,28,2,2,5,2,2,1,80122.686739,5,2.508975,28,2,1,T,T,50,1500,750,750,20,750,300,50,750,300,350,60,750,300,Rest of the U.S.

In [16]:
trip2009 = pd.read_csv(data_dir+"2009National/DAYV2PUB.CSV")
trip2009['HOUSEID'] = trip2009['HOUSEID'].apply(str)
print('Public trip: '+str(len(trip2009)))
trip2009_nys = pd.read_sas(data_dir+"2009NYSDOT/ny_dtrpv2.sas7bdat", format = 'sas7bdat', encoding='ISO-8859-1')
trip2009_nys['HOUSEID'] = trip2009_nys['HOUSEID'].apply(str)
trip2009_nys = trip2009_nys[trip2009_nys['HHSTATE']=='NY'] # filter out other states!

# remove age
trip2009 = trip2009[trip2009.R_AGE>=5]
trip2009_nys = trip2009_nys[trip2009_nys.R_AGE>=5]

trip2009['Region'] = trip2009['CENSUS_D'].map({1:'New England'}).fillna('Rest of the U.S.')

# remove public NYS households
trip2009 = trip2009[~trip2009.HOUSEID.isin(NYShouseholds2009)]

# remvoe zero weight households and persons
trip2009 = trip2009[~trip2009.HOUSEID.isin(zeroWeight2009)]
trip2009 = trip2009[trip2009.WTTRDFIN!=0]
print('Non-NYS trip: '+str(len(trip2009)))
trip2009_nys = trip2009_nys[~trip2009_nys.HOUSEID.isin(zeroWeight2009_nys)]
trip2009_nys = trip2009_nys[trip2009_nys.WTTRDFIN!=0]
print('NYS trip: '+str(len(trip2009_nys)))

# to integer
not_integer = trip2009_nys.columns[trip2009_nys.apply(pd.to_numeric, errors='coerce').isnull().any()].tolist()
cols_filtered = list(trip2009_nys.columns.difference(not_integer))
trip2009_nys[cols_filtered] = trip2009_nys[cols_filtered].astype(np.int64)
trip2009_nys['HOUSEID'] = trip2009_nys['HOUSEID'].apply(str)

# urban class
trip2009 = trip2009.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
trip2009 = pd.merge(trip2009,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
trip2009 = trip2009.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
trip2009['URBRUR'] = trip2009['URBRUR'].map({1:'Urban',2:'Rural'})
trip2009_nys = trip2009_nys.drop(['URBAN','URBANSIZE','URBRUR'], axis=1)
trip2009_nys = pd.merge(trip2009_nys,urbanClass[['HOUSEID','URBAN10','URBSIZE10','URBRUR10']],how='left',on='HOUSEID')
trip2009_nys = trip2009_nys.rename(columns={'URBAN10':'URBAN','URBSIZE10':'URBANSIZE','URBRUR10':'URBRUR'})
trip2009_nys['URBRUR'] = trip2009_nys['URBRUR'].map({1:'Urban',2:'Rural'})
trip2009_nys['URBRUR_NYC'] = 'non-NYC Rural'
trip2009_nys.loc[(~trip2009_nys.HOUSEID.isin(NYChouseholds2009))&(trip2009_nys.URBRUR=='Urban'),'URBRUR_NYC'] = 'non-NYC Urban'
trip2009_nys.loc[(trip2009_nys.HOUSEID.isin(NYChouseholds2009)),'URBRUR_NYC'] = 'NYC'
print('non-NYC Rural households: '+str(len(trip2009_nys[trip2009_nys.URBRUR_NYC=='non-NYC Rural'])))
print('non-NYC Urban households: '+str(len(trip2009_nys[trip2009_nys.URBRUR_NYC=='non-NYC Urban'])))
print('NYC households: '+str(len(trip2009_nys[trip2009_nys.URBRUR_NYC=='NYC'])))

%store trip2009
%store trip2009_nys
trip2009_nys.head()

Public trip: 1167321
Non-NYS trip: 1041919
NYS trip: 125402
non-NYC Rural households: 35055
non-NYC Urban households: 76744
NYC households: 13603
Stored 'trip2009' (DataFrame)
Stored 'trip2009_nys' (DataFrame)

,HOUSEID,PERSONID,FRSTHM,OUTCNTRY,OUTOFTWN,ONTD_P1,ONTD_P2,ONTD_P3,ONTD_P4,ONTD_P5,ONTD_P6,ONTD_P7,ONTD_P8,ONTD_P9,ONTD_P10,ONTD_P11,ONTD_P12,ONTD_P13,ONTD_P14,ONTD_P15,TDCASEID,WHOACC1,WHOACC10,WHOACC11,WHOACC12,WHOACC13,WHOACC14,WHOACC15,WHOACC2,WHOACC3,WHOACC4,WHOACC5,WHOACC6,WHOACC7,WHOACC8,WHOACC9,HH_CBSA,HHC_MSA,HH_HISP,HH_RACE,DRIVER,HH_HB_F,R_SEX,WORKER,DRVRCNT,CMPLTPCT,HHCNTYFP,HHCT,HHFAMINC,HHSIZE,HHVEHCNT,HOMEOWN,HOMETYPE,NUMADLT,FLAG100,LIF_CYC,TRIPPURP,LANDCELL,MAINRSLT,WGTYRMON,AWAYHMSP,AWAYHOME,CBSACAT,CBSASIZE,CDIVMSAR,CENSUS_D,CENSUS_R,DROP_PRK,DRVR_FLG,EDUC,ENDAMPM,ENDHOUR,ENDMINTE,ENDTIME,HH_CSA,HH_MSA,HH_ONTD,HHCITYFP,HHMEMDRV,HHMETDIV,HHP_MSA,HHRESP,HHSTATE,HHSTFIPS,HOWFRPOS,HOWPUBOS,IMPTAGE,IMPTSEX,IMPTHB,INTSTATE,LANG,LONGFRHR,LONGFRMN,LONGTOHR,LONGTOMN,MSACAT,MSASIZE,NONHHCNT,NUMONTRP,NY1,NY2,NY3,NY4,NY5,PAYTOLL,PERINDT2,PLCNTYNY,PRMACT,PROXY,PSGR_FLG,PUBTYPE,R_AGE,RAIL,SAMPQTR,STRATUM,STRTAMPM,STRTHR,STRTMIN,STRTTIME,TDAYDAT2,TDMSDTRP,TRACC1,TRACC2,TRACC3,TRACC4,TRACC5,TRACCTM,TRAVDAY,TREGR1,TREGR2,TREGR3,TREGR4,TREGR5,TREGRTM,TRIPTIME,TRPACCMP,TRPHHACC,TRPHHVEH,TRPPUB,TRPTRANS,TRPTRNOS,TRVL_MIN,TRVLCMIN,TRVLHR,TRVLMIN,TRWAITTM,USEINTST,USEPUBTR,VEHID,VEHSAME,WAIT_HR,WAIT_MIN,WHERE,WHEREOS,WHODROVE,WHYFROM,WHYTO,WHYTRP1S,WHYTRPSP,WKSTFIPS,WORKCT,WORKLOC,WRKCOUNT,DWELTIME,WHYTRP90,TDTRPNUM,TDWKND,TDAYDATE,TRPMILES,VARSTRAT,VARUNIT,WTTRDFIN,VMT_MILE,PUBTRANS,SPEED,HHR_HISP,HHR_RACE,URBAN,URBANSIZE,URBRUR,URBRUR_NYC
0,20001283,1,1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,200012830101,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,35620,5602,2,2,1,2,1,2,1,1,61,21600,3,1,0,2,3,1,1,9,HBSHOP,L,C1,200806,-1,-1,1,1,21,2,1,-1,-1,3,1,11,55,1155,408,-1,1,51000,-1,35004,5600,1,NY,36,-1,-1,2,2,2,-1,1,-1,-1,-1,-1,1,5,-1,1,-1,-1,-1,-1,-1,-1,20080623,-1,6,1,-1,-1,72,1,1,17,1,11,45,1145,20080620,-1,-1,-1,-1,-1,-1,-1,6,-1,-1,-1,-1,-1,-1,1,-1,0,2,2,23,-1,10,10,0,10,-1,2,1,-1,-1,-1,-1,97,THE WESTWAY CAFE,-1,1,83,80,-1,-1,-1,-1,0,80,10,1,2,200806,0,26,1,646101,-1,2,2.666667,2,2,1,5,Urban,NYC
1,20001283,1,1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,200012830102,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,35620,5602,2,2,1,2,1,2,1,1,61,21600,3,1,0,2,3,1,1,9,NHB,L,C1,200806,-1,-1,1,1,21,2,1,-1,-1,3,2,1,30,1330,408,-1,1,51000,-1,35004,5600,1,NY,36,-1,-1,2,2,2,-1,1,0,1,0,3,1,5,0,1,-1,-1,3,-1,-1,-1,20080623,-1,6,1,-1,2,72,1,1,17,2,1,15,1315,20080620,-1,23,-1,-1,-1,-1,3,6,23,-1,-1,-1,-1,1,1,0,0,2,1,17,-1,15,15,0,15,4,2,1,-1,-1,0,4,97,PORT AUTHORITY TERMINAL,-1,83,40,40,-1,-1,-1,-1,0,30,3,2,2,200806,7,26,1,646101,-1,1,31.111111,2,2,1,5,Urban,NYC
2,20001283,1,1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,200012830103,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,35620,5602,2,2,1,2,1,2,1,1,61,21600,3,1,0,2,3,1,1,9,NHB,L,C1,200806,-1,-1,1,1,21,2,1,-1,-1,3,2,2,10,1410,408,-1,1,51000,-1,35004,5600,1,NY,36,-1,-1,2,2,2,-1,1,-1,-1,-1,-1,1,5,0,1,-1,-1,-1,-1,-1,-1,20080623,-1,6,1,-1,-1,72,1,1,17,2,2,0,1400,20080620,-1,-1,-1,-1,-1,-1,-1,6,-1,-1,-1,-1,-1,-1,1,0,0,2,2,23,-1,10,10,0,10,-1,2,1,-1,-1,-1,-1,97,JACK'S STORE,-1,40,41,40,-1,-1,-1,-1,0,20,3,3,2,200806,1,26,1,646101,-1,2,6.666667,2,2,1,5,Urban,NYC
3,20001283,1,1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,200012830104,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,35620,5602,2,2,1,2,1,2,1,1,61,21600,3,1,0,2,3,1,1,9,HBSHOP,L,C1,200806,-1,-1,1,1,21,2,1,-1,-1,3,2,3,0,1500,408,-1,1,51000,-1,35004,5600,1,NY,36,-1,-1,2,2,2,-1,1,0,3,0,4,1,5,0,1,-1,-1,2,-1,-1,-1,20080623,-1,6,1,-1,2,72,1,1,17,2,2,30,1430,20080620,-1,23,-1,-1,-1,-1,4,6,23,-1,-1,-1,-1,3,1,0,0,2,1,17,-1,30,30,0,30,-9,2,1,-1,-1,-8,-1,1,HOME,-1,41,1,1,-1,-1,-1,-1,0,-9,10,4,2,200806,8,26,1,646101,-1,1,17.777778,2,2,1,5,Urban,NYC
4,20006233,1,1,-1,-1,1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,200062330101,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,35620,5602,2,1,2,4,2,1,0,1,47,51000,14,1,0,2,3,1,1,1,HBSHOP,L,C1,200812,-1,-1,1,1,21,2,1,-1,-1,3,1,10,15,1015,408,-1,1,51000,-1,35644,5600,1,NY,36,-1,-1,2,2,2,-1,1,-1,-1,-1,-1,1,5,-1,1,-1,-1,-1,-1,-1,-1,20081221,-1,1,1,-1,-1,55,1,2,16,1,10,7,1007,20081220,-1,-1,-1,-1,-1,-1,-1,7,-1,-1,-1,-1,-1,-1,1,-1,0,2,-1,23,-1,8,8,0,8,-1,2,2,-1,-1,-1,-1,97,A&W DELI GROCERY,-1,1,82,80,-1,36,81600,1,1,15,10,1,1,200812,0,9,1,964317,-1,2,3.333333,2,1,1,5,Urban,NYC

In [17]:
trip2009_nys.loc[trip2009_nys.URBRUR_NYC=='NYC','URBRUR'].value_counts()

Urban    13603
Name: URBRUR, dtype: int64

# Value dataset - hh_val

In [18]:
for i in [1,2,3,4]:
    # read data
    cols = ['HOUSEID','WTHHFIN','URBRUR','HH_RACE','DRVRCNT','HHSIZE','HHVEHCNT','LIF_CYC','HBPPOPDN','HHFAMINC']
    if i == 1: # 2017
        df = hh[cols] 
    elif i == 2:
        cols = cols+['URBRUR_NYC']
        df = hh_nys[cols] 
    elif i == 3:
        df = hh2009[cols]
    elif i == 4:
        cols = cols+['URBRUR_NYC']
        df = hh2009_nys[cols]
    
    maplist = {(1,):'White',(2,):'Black/African American',(3,):'Asian',
               (4,5,6,7,97):'Other Race'} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HHRACE'] = df['HH_RACE'].map(d).fillna('Race not Reported')
    
    maplist = {(0,):'No driver',(1,):'1 driver',(2,):'2 drivers',
               (3,4,5,6,7,8,9):'3+ drivers'} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['DR'] = df['DRVRCNT'].map(d).fillna('Driver status not Reported')
    
    maplist = {(1,):'1 person',(2,):'2 persons',(3,):'3 persons',(4,):'4 persons',
               (5,6,7,8,9,10,11,12,13):'5+ persons'} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HHSZ'] = df['HHSIZE'].map(d).fillna('Not Reported')
    
    maplist = {(0,):'No vehicle',(1,):'1 vehicle',(2,):'2 vehicles',
               (3,4,5,6,7,8,9,10,11,12,13,14,15,23,27):'3+ vehicles'} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HHVCT'] = df['HHVEHCNT'].map(d).fillna('Vehicle ownership not Reported')
    
    df['DRVVEH'] = np.nan
    df.loc[df['DRVRCNT']<df['HHVEHCNT'],'DRVVEH'] = 'Vehicles > Drivers'
    df.loc[df['DRVRCNT']==df['HHVEHCNT'],'DRVVEH'] = 'Vehicles = Drivers'
    df.loc[df['DRVRCNT']>df['HHVEHCNT'],'DRVVEH'] = 'Vehicles < Drivers'
    
    maplist = {(-9,):'Life cycle not reported',(1,):'one adult, no children',(2,):'2+ adults, no children',
               (3,):'one adult, youngest child 0-5',(4,):'2+ adults, youngest child 0-5',
               (5,):'one adult, youngest child 6-15',(6,):'2+ adults, youngest child 6-15',
               (7,):'one adult, youngest child 16-21',(8,):'2+ adults, youngest child 16-21',
              (9,):'one adult, retired, no children',(10,):'2+ adults, retired, no children',} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['LIF'] = df['LIF_CYC'].map(d)

    if i !=5:
        maplist = {(50,300,):'Dens < 500',(750,1500,):'Dens 500-1999',(3000,7000,17000,30000,):'Dens 2000+'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['DENS'] = df['HBPPOPDN'].map(d).fillna('Pop Dens not Reported') # HBPPOPDN (BG level) instead of this (Tract level)
        df_dens = df['DENS']

    if i in [1,2]: # 2017
        maplist = {(1,2,3):'<$25K',(4,5,):'$25K-50K',(6,):'$50K-75K',(7,):'$75K-100K',(8,9,):'$100K-150K',(10,):'$150K-200K',(11,):'$200K+'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['INC'] = df['HHFAMINC'].map(d).fillna('Income not Reported')
        df_inc = df['INC']
    else:
        maplist = {(1,2,3,4,5):'<$25K',(6,7,8,9,10,):'$25K-50K',(11,12,13,14,15,):'$50K-75K',(16,17):'$75K-100K',(18,):'$100K+'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['INC'] = df['HHFAMINC'].map(d).fillna('Income not Reported')
        df_inc = df['INC']
    
    cols_dumm = ['URBRUR','HHRACE','DR','HHSZ','HHVCT','DRVVEH','LIF','DENS','INC']
    if i == 2 or i == 4:
        cols_dumm = cols_dumm+['URBRUR_NYC']
    if i==5:
        cols_dumm.remove('DENS')
    df = pd.get_dummies(df,columns=cols_dumm, prefix='', prefix_sep='')# ,'H'
    
    if i!=5:
        df['DENS'] = df_dens
    df['INCOME'] = df_inc
    
    # output data
    if i == 1:
        hh_val = df.copy()
        %store hh_val
    elif i==2:
        hh_nys_val = df.copy()
        %store hh_nys_val
    elif i==3:
        hh2009_val = df.copy()
        %store hh2009_val
    elif i==4:
        hh2009_nys_val = df.copy()
        %store hh2009_nys_val

df.head()

Stored 'hh_val' (DataFrame)
Stored 'hh_nys_val' (DataFrame)
Stored 'hh2009_val' (DataFrame)
Stored 'hh2009_nys_val' (DataFrame)

,HOUSEID,WTHHFIN,HH_RACE,DRVRCNT,HHSIZE,HHVEHCNT,LIF_CYC,HBPPOPDN,HHFAMINC,Rural,Urban,Asian,Black/African American,Other Race,Race not Reported,White,1 driver,2 drivers,3+ drivers,No driver,1 person,2 persons,3 persons,4 persons,5+ persons,1 vehicle,2 vehicles,3+ vehicles,No vehicle,Vehicles < Drivers,Vehicles = Drivers,Vehicles > Drivers,"2+ adults, no children","2+ adults, retired, no children","2+ adults, youngest child 0-5","2+ adults, youngest child 16-21","2+ adults, youngest child 6-15","one adult, no children","one adult, retired, no children","one adult, youngest child 0-5","one adult, youngest child 16-21","one adult, youngest child 6-15",Dens 2000+,Dens 500-1999,Dens < 500,$100K+,$25K-50K,$50K-75K,$75K-100K,<$25K,Income not Reported,NYC,non-NYC Rural,non-NYC Urban,DENS,INCOME
0,20001283,2834,2,1,1,0,9,30000,3,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,Dens 2000+,<$25K
1,20006167,51,1,1,2,1,10,50,1,1,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,Dens < 500,<$25K
2,20006233,4226,1,0,1,0,1,30000,14,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,Dens 2000+,$50K-75K
3,20008723,66,1,2,2,3,2,300,8,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,Dens < 500,$25K-50K
4,20009092,50,1,1,1,1,9,300,3,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,Dens < 500,<$25K

In [19]:
print(hh2009_nys_val.WTHHFIN.sum())

7129423

# Value dataset - person_val

In [39]:
for i in [1,2,3,4]:
    # read data
    cols = ['HOUSEID','PERSONID','WTPERFIN','URBRUR','DRIVER','R_SEX','WORKER','HBPPOPDN','NWALKTRP','NBIKETRP',
            'CNTTDTR'] # numerical
    if i == 1: # 2017
        df = person[cols]
        print(len(person))
    elif i == 2:
        cols = cols+['URBRUR_NYC']
        df = person_nys[cols] 
    elif i == 3: # 2009
        df = person2009[cols]
    elif i == 4: # 2009
        cols = cols+['URBRUR_NYC']
        df = person2009_nys[cols]
    
    maplist = {(1,):'Driver',} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['DR'] = df['DRIVER'].map(d).fillna('Other')

    df['WALK'] = 'Walked last week'
    df.loc[df.NWALKTRP==0,'WALK'] = 'Not walked last week'

    df['BIKE'] = 'Biked last week'
    df.loc[df.NBIKETRP==0,'BIKE'] = 'Not biked last week'

    maplist = {(1,):'Male',(2,):'Female',} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['GEN'] = df['R_SEX'].map(d).fillna('Not Reported')
    
    maplist = {(1,):'Worker',(2,):'Non-worker',} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['WK'] = df['WORKER'].map(d).fillna('Worker not Reported')

    maplist = {(-1,):'TRVDAY not Reported',(0,):'Not Traveled',} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['NOTDRV'] = df['CNTTDTR'].map(d).fillna('Traveled')
    
    if i !=5:
        maplist = {(50,300,):'Dens < 500',(750,1500,):'Dens 500-1999',(3000,7000,17000,30000,):'Dens 2000+'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['DENS'] = df['HBPPOPDN'].map(d).fillna('Pop Dens not Reported')
        
    df_urbrur = df['URBRUR']
    
    cols_dumm = ['URBRUR','DR','GEN','WK','NOTDRV','WALK','BIKE']
    if i == 2 or i == 4:
        cols_dumm = cols_dumm+['URBRUR_NYC']

    df = pd.get_dummies(df,columns=cols_dumm, prefix='', prefix_sep='')# ,'H'
    df['URBRUR'] = df_urbrur

    # output data
    if i == 1:
        person_val = df.copy()
        print(len(person_val))
        %store person_val
    elif i==2:
        person_nys_val = df.copy()
        %store person_nys_val
    elif i==3:
        person2009_val = df.copy()
        %store person2009_val
    elif i==4:
        person2009_nys_val = df.copy()
        %store person2009_nys_val

df.head()

229724
229724
Stored 'person_val' (DataFrame)
Stored 'person_nys_val' (DataFrame)
Stored 'person2009_val' (DataFrame)
Stored 'person2009_nys_val' (DataFrame)

,HOUSEID,PERSONID,WTPERFIN,DRIVER,R_SEX,WORKER,HBPPOPDN,NWALKTRP,NBIKETRP,CNTTDTR,DENS,Rural,Urban,Driver,Other,Female,Male,Non-worker,Worker,Worker not Reported,Not Traveled,Traveled,Not walked last week,Walked last week,Biked last week,Not biked last week,NYC,non-NYC Rural,non-NYC Urban,URBRUR
0,20001283,1,1770,1,1,2,30000,14,0,4,Dens 2000+,0,1,1,0,0,1,1,0,0,0,1,0,1,0,1,1,0,0,Urban
1,20006167,1,36,2,2,2,50,0,0,0,Dens < 500,1,0,0,1,1,0,1,0,0,1,0,1,0,0,1,0,1,0,Rural
2,20006167,2,66,1,2,2,50,7,0,0,Dens < 500,1,0,1,0,1,0,1,0,0,1,0,0,1,0,1,0,1,0,Rural
3,20006233,1,2641,2,2,1,30000,7,0,6,Dens 2000+,0,1,0,1,1,0,0,1,0,0,1,0,1,0,1,1,0,0,Urban
4,20008723,1,43,1,2,2,300,0,0,5,Dens < 500,0,1,1,0,1,0,1,0,0,0,1,1,0,0,1,0,0,1,Urban

In [21]:
person_val[person_val.WTPERFIN==0]

Empty DataFrame
Columns: [HOUSEID, PERSONID, WTPERFIN, DRIVER, R_SEX, WORKER, HBPPOPDN, CNTTDTR, DENS, Rural, Urban, Driver, Other, Female, Male, Not Reported, Non-worker, Worker, Worker not Reported, Not Traveled, Traveled, URBRUR]
Index: []

In [22]:
len(person_val[(person_val.DENS=='Dens 2000+')&(person_val.Urban==1)])

114573

# Value dataset - veh_val

In [23]:
for i in [1,2,3,4]:
    # read data
    cols = ['HOUSEID','VEHID','WTHHFIN','URBRUR','VEHAGE','VEHTYPE']
    if i == 1: # 2017
        df = veh[cols]
    elif i == 2:
        df = veh_nys[cols] 
    elif i == 3:
        df = veh2009[cols]
    elif i == 4: # 2009
        df = veh2009_nys[cols]
    
    maplist = {(-8,-7,-9):np.nan,} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['VAGE'] = df['VEHAGE'].replace(d)

    df['VAGE_OLD'] = 'Less than 10 years'
    df.loc[df['VAGE']>=10,'VAGE_OLD'] = 'More than 10 years'

    maplist = {(97,-8,-7,-9,):np.nan,(1,):'Auto',(2,):'Van',(3,):'Sports Utility',(4,):'Pickup Truck',
               (5,):'Other Truck',(6,):'RV',(7,):'Motorcycle'} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['VTYPE'] = df['VEHTYPE'].replace(d)

    df = df[df['VAGE']>0]

    cols_dumm = ['VTYPE','VAGE_OLD']
    df = pd.get_dummies(df,columns=cols_dumm, prefix='', prefix_sep='')


    # output data
    if i == 1:
        veh_val = df.copy()
        %store veh_val
    elif i==2:
        veh_nys_val = df.copy()
        %store veh_nys_val
    elif i==3:
        veh2009_val = df.copy()
        %store veh2009_val
    elif i==4:
        veh2009_nys_val = df.copy()
        %store veh2009_nys_val

df.head()

Stored 'veh_val' (DataFrame)
Stored 'veh_nys_val' (DataFrame)
Stored 'veh2009_val' (DataFrame)
Stored 'veh2009_nys_val' (DataFrame)

,HOUSEID,VEHID,WTHHFIN,URBRUR,VEHAGE,VEHTYPE,VAGE,Auto,Motorcycle,Other Truck,Pickup Truck,RV,Sports Utility,Van,Less than 10 years,More than 10 years
0,20006167,1,51,Rural,15,1,15.0,1,0,0,0,0,0,0,0,1
1,20008723,1,66,Urban,6,2,6.0,0,0,0,0,0,0,1,1,0
2,20008723,2,66,Urban,14,4,14.0,0,0,0,1,0,0,0,0,1
3,20008723,3,66,Urban,16,4,16.0,0,0,0,1,0,0,0,0,1
4,20009092,1,50,Urban,7,3,7.0,0,0,0,0,0,1,0,1,0

# Value dataset - veh_mode

In [38]:
for i in [1,2,3,4]:
    # read data
    cols = ['HOUSEID','VEHID','WTHHFIN','URBRUR','VEHAGE','VEHTYPE','BESTMILE']
    if i == 1: # 2017
        df = veh[cols]
    elif i == 2:
        df = veh_nys[cols] 
    elif i == 3:
        df = veh2009[cols]
    elif i == 4: # 2009
        df = veh2009_nys[cols]
    
    maplist = {(-8,-7,-9):np.nan,} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['VAGE'] = df['VEHAGE'].replace(d)

    df['VAGE_OLD'] = 'Less than 10 years'
    df.loc[df['VAGE']>=10,'VAGE_OLD'] = 'More than 10 years'

    maplist = {(97,-8,-7,-9,):np.nan,(1,):'Auto',(2,):'Van',(3,):'Sports Utility',(4,):'Pickup Truck',
               (5,):'Other Truck',(6,):'RV',(7,):'Motorcycle'} # ,(1,97):'Other'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['VTYPE'] = df['VEHTYPE'].replace(d)

    df = df[df['VAGE']>0]
    df = df[df['BESTMILE']>0]

    df = df.groupby(['HOUSEID','VTYPE'], observed=True).agg({'BESTMILE':'sum'}) # 'VEHID',
    df = df.reset_index() 
    
    df = df.pivot(index=['HOUSEID'], columns=['VTYPE'], # ,'VEHID'
                  values=['BESTMILE']).fillna(0)
    print(len(df))
    
    # output data
    if i == 1:
        # hh_veh = pd.merge(hh[['HOUSEID']],veh[['HOUSEID','VEHID']],on=['HOUSEID'],how='left').fillna(0)
        # df = pd.merge(hh[['HOUSEID']],df,on=['HOUSEID'],how='left').fillna(0).set_index(['HOUSEID']) # hh wo cars
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        veh_mode = df.reset_index().copy()
        %store veh_mode
    elif i==2:
        # hh_veh = pd.merge(hh_nys[['HOUSEID']],veh_nys[['HOUSEID','VEHID']],on=['HOUSEID'],how='left').fillna(0)
        # df = pd.merge(hh_nys[['HOUSEID']], df,on=['HOUSEID'],how='left').fillna(0).set_index(['HOUSEID'])
        print(len(df))
        veh_nys_mode = df.reset_index().copy()
        %store veh_nys_mode
    elif i==3:
        # hh_veh = pd.merge(hh2009[['HOUSEID']],veh2009[['HOUSEID','VEHID']],on=['HOUSEID'],how='left').fillna(0)
        # df = pd.merge(hh2009[['HOUSEID']], df,on=['HOUSEID'],how='left').fillna(0).set_index(['HOUSEID']) 
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        veh2009_mode = df.reset_index().copy()
        %store veh2009_mode
    elif i==4:
        # hh_veh = pd.merge(hh2009_nys[['HOUSEID']],veh2009_nys[['HOUSEID','VEHID']],on=['HOUSEID'],how='left').fillna(0)
        # df = pd.merge(hh2009_nys[['HOUSEID']], df,on=['HOUSEID'],how='left').fillna(0).set_index(['HOUSEID']) 
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        veh2009_nys_mode = df.reset_index().copy()
        %store veh2009_nys_mode

veh2009_nys_mode.head()

107159
107159
Stored 'veh_mode' (DataFrame)
15524
15524
Stored 'veh_nys_mode' (DataFrame)
125160
125160
Stored 'veh2009_mode' (DataFrame)
14311
14311
Stored 'veh2009_nys_mode' (DataFrame)

    HOUSEID BESTMILE                                                          \
                Auto Motorcycle Other Truck Pickup Truck   RV Sports Utility
0  20006167  12729.0        0.0         0.0          0.0  0.0            0.0
1  20008723      0.0        0.0         0.0      14210.0  0.0            0.0
2  20009092      0.0        0.0         0.0          0.0  0.0         1957.0
3  20010687   5364.0        0.0         0.0          0.0  0.0            0.0
4  20010735  16314.0        0.0         0.0          0.0  0.0        23235.0


       Van
0      0.0
1   9804.0
2      0.0
3      0.0
4  13065.0

# Value dataset - trip_val

In [24]:
def custom_sum(series):
    # Custom sum function to handle missing values for 'NUMVT' column
    if series.name == 'NUMVT':
        return series.sum(skipna=False)  # Do not skip missing values for 'NUMVT'
    else:
        return series.sum()  # Use the default behavior for other columns

In [30]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG','STRTTIME']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
        

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    df['HOUR'] = df['STRTTIME'].astype(str).str.zfill(4).str[0:2]
    maplist = {("00","01","02"):'12-3 am',("03","04","05"):'3-6 am',("06","07","08"):'6-9 am',
            ("09","10","11"):'9 am-12 pm',("12","13","14"):'12-3 pm',("15","16","17"):'3-6 pm',
            ("18","19","20"):'6-9 pm',("21","22","23"):'9 pm-12 am'} # ,(-9):'Unreported'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HOUR'] = df['HOUR'].map(d).fillna('STRTIME Unreported')

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    df = pd.get_dummies(df,columns=['MODE','PURP','HOUR'], prefix='', prefix_sep='')

    df['NUMTRIPS'] = 1
    df['COMMUTETRIPS'] = 0
    df.loc[df.WHYTRP90==1,'COMMUTETRIPS'] = 1
    df['PTLENGTH'] = df['TRPMILAD']

    # List of columns to check for existence
    columns_to_check = ['Mode Unreported', 'Purposes Unreported','STRTIME Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'PTLENGTH': 'mean',
        'TRVLCMIN': 'sum',
        'NUMTRIPS': 'sum',
        'COMMUTETRIPS': 'sum',
        'NUMVT': 'sum', 
        'SPEED': 'mean',
        'POV': 'sum','Public Transport': 'sum','Walk': 'sum','Other Mode': 'sum',
        'Earn a Living': 'sum','Family & Personal Business': 'sum','Social & Recreational': 'sum','All Other Purposes': 'sum',
        '12-3 am':'sum','3-6 am':'sum','6-9 am':'sum','9 am-12 pm':'sum','12-3 pm':'sum','3-6 pm':'sum','6-9 pm':'sum','9 pm-12 am':'sum'
    }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    df['NUMVT_FLG'] = 'Not Drived' # vehicle traveled or not
    df.loc[df['NUMVT']>0,'NUMVT_FLG'] = 'Drived'

    df = pd.get_dummies(df,columns=['NUMVT_FLG'], prefix='', prefix_sep='')
    
    print(len(df))
    
    # output data
    if i == 1:
        # # make sure # hh-person does not change (some people have zero trips)
        df = pd.merge(person[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        trip_val = df.copy()
        %store trip_val
    elif i==2:
        df = pd.merge(person_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        trip_nys_val = df.copy()
        %store trip_nys_val
    elif i==3:
        df = pd.merge(person2009[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        trip2009_val = df.copy()
        %store trip2009_val
    elif i==4:
        df = pd.merge(person2009_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        trip2009_nys_val = df.copy()
        %store trip2009_nys_val

trip_val.head()

190744
229724
Stored 'trip_val' (DataFrame)
28516
34510
Stored 'trip_nys_val' (DataFrame)
234534
275466
Stored 'trip2009_val' (DataFrame)
28400
33435
Stored 'trip2009_nys_val' (DataFrame)

,HOUSEID,PERSONID,WTPERFIN,WTTRDFIN,TRPMILAD,PTLENGTH,TRVLCMIN,NUMTRIPS,COMMUTETRIPS,NUMVT,SPEED,POV,Public Transport,Walk,Other Mode,Earn a Living,Family & Personal Business,Social & Recreational,All Other Purposes,12-3 am,3-6 am,6-9 am,9 am-12 pm,12-3 pm,3-6 pm,6-9 pm,9 pm-12 am,Mode Unreported,Purposes Unreported,Drived,Not Drived
0,30000007,1,206.690153,150883.811593,11.589234,5.794617,35.0,2.0,0.0,2.0,20.307644,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,30000007,2,197.075742,143865.291613,177.805952,88.902976,270.0,2.0,2.0,2.0,40.070105,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,30000007,3,219.514210,160245.373478,5.010144,2.505072,30.0,2.0,0.0,2.0,10.020289,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,30000008,1,63.185911,46125.714856,17.212499,8.606250,25.0,2.0,2.0,2.0,43.031248,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,30000008,2,58.665911,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Value dataset - tripwalk_val

In [40]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG','STRTTIME']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
        

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    df['HOUR'] = df['STRTTIME'].astype(str).str.zfill(4).str[0:2]
    maplist = {("00","01","02"):'12-3 am',("03","04","05"):'3-6 am',("06","07","08"):'6-9 am',
            ("09","10","11"):'9 am-12 pm',("12","13","14"):'12-3 pm',("15","16","17"):'3-6 pm',
            ("18","19","20"):'6-9 pm',("21","22","23"):'9 pm-12 am'} # ,(-9):'Unreported'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HOUR'] = df['HOUR'].map(d).fillna('STRTIME Unreported')

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    ####################### walk trips only #####################
    df = df[df.MODE == 'Walk']

    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    df = pd.get_dummies(df,columns=['MODE','PURP','HOUR'], prefix='', prefix_sep='')

    df['NUMTRIPS'] = 1
    df['COMMUTETRIPS'] = 0
    df.loc[df.WHYTRP90==1,'COMMUTETRIPS'] = 1
    df['PTLENGTH'] = df['TRPMILAD']

    # List of columns to check for existence
    columns_to_check = ['Mode Unreported', 'Purposes Unreported','STRTIME Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'PTLENGTH': 'mean',
        'TRVLCMIN': 'sum',
        'NUMTRIPS': 'sum',
        'COMMUTETRIPS': 'sum',
        'NUMVT': 'sum', 
        'SPEED': 'mean',
        'Earn a Living': 'sum','Family & Personal Business': 'sum','Social & Recreational': 'sum','All Other Purposes': 'sum',
        '12-3 am':'sum','3-6 am':'sum','6-9 am':'sum','9 am-12 pm':'sum','12-3 pm':'sum','3-6 pm':'sum','6-9 pm':'sum','9 pm-12 am':'sum'
    }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    df['NUMVT_FLG'] = 'Not Drived' # vehicle traveled or not
    df.loc[df['NUMVT']>0,'NUMVT_FLG'] = 'Drived'

    df = pd.get_dummies(df,columns=['NUMVT_FLG'], prefix='', prefix_sep='')
    
    print(len(df))
    
    # output data
    if i == 1:
        # # make sure # hh-person does not change (some people have zero trips)
        df = pd.merge(person[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripwalk_val = df.copy()
        %store tripwalk_val
    elif i==2:
        df = pd.merge(person_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripwalk_nys_val = df.copy()
        %store tripwalk_nys_val
    elif i==3:
        df = pd.merge(person2009[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripwalk2009_val = df.copy()
        %store tripwalk2009_val
    elif i==4:
        df = pd.merge(person2009_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripwalk2009_nys_val = df.copy()
        %store tripwalk2009_nys_val

tripwalk_val.head()

32645
229724
Stored 'tripwalk_val' (DataFrame)
5992
34510
Stored 'tripwalk_nys_val' (DataFrame)
37831
275466
Stored 'tripwalk2009_val' (DataFrame)
5892
33435
Stored 'tripwalk2009_nys_val' (DataFrame)

,HOUSEID,PERSONID,WTPERFIN,WTTRDFIN,TRPMILAD,PTLENGTH,TRVLCMIN,NUMTRIPS,COMMUTETRIPS,NUMVT,SPEED,Earn a Living,Family & Personal Business,Social & Recreational,All Other Purposes,12-3 am,3-6 am,6-9 am,9 am-12 pm,12-3 pm,3-6 pm,6-9 pm,9 pm-12 am,Purposes Unreported,Not Drived
0,30000007,1,206.690153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30000007,2,197.075742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30000007,3,219.514210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,30000008,1,63.185911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30000008,2,58.665911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Value dataset - tripbike_val

In [41]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG','STRTTIME']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
        

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    df['HOUR'] = df['STRTTIME'].astype(str).str.zfill(4).str[0:2]
    maplist = {("00","01","02"):'12-3 am',("03","04","05"):'3-6 am',("06","07","08"):'6-9 am',
            ("09","10","11"):'9 am-12 pm',("12","13","14"):'12-3 pm',("15","16","17"):'3-6 pm',
            ("18","19","20"):'6-9 pm',("21","22","23"):'9 pm-12 am'} # ,(-9):'Unreported'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HOUR'] = df['HOUR'].map(d).fillna('STRTIME Unreported')

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    ####################### bike trips only #####################
    if i in [1,2]: # 2017
        df = df[df.TRPTRANS == 2]
    else: # 2009
        df = df[df.TRPTRANS == 22]

    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    df = pd.get_dummies(df,columns=['MODE','PURP','HOUR'], prefix='', prefix_sep='')

    df['NUMTRIPS'] = 1
    df['COMMUTETRIPS'] = 0
    df.loc[df.WHYTRP90==1,'COMMUTETRIPS'] = 1
    df['PTLENGTH'] = df['TRPMILAD']

    # List of columns to check for existence
    columns_to_check = ['Mode Unreported', 'Purposes Unreported','STRTIME Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'PTLENGTH': 'mean',
        'TRVLCMIN': 'sum',
        'NUMTRIPS': 'sum',
        'COMMUTETRIPS': 'sum',
        'NUMVT': 'sum', 
        'SPEED': 'mean',
        'Earn a Living': 'sum','Family & Personal Business': 'sum','Social & Recreational': 'sum','All Other Purposes': 'sum',
        '12-3 am':'sum','3-6 am':'sum','6-9 am':'sum','9 am-12 pm':'sum','12-3 pm':'sum','3-6 pm':'sum','6-9 pm':'sum','9 pm-12 am':'sum'
    }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    df['NUMVT_FLG'] = 'Not Drived' # vehicle traveled or not
    df.loc[df['NUMVT']>0,'NUMVT_FLG'] = 'Drived'

    df = pd.get_dummies(df,columns=['NUMVT_FLG'], prefix='', prefix_sep='')
    
    print(len(df))
    
    # output data
    if i == 1:
        # # make sure # hh-person does not change (some people have zero trips)
        df = pd.merge(person[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripbike_val = df.copy()
        %store tripbike_val
    elif i==2:
        df = pd.merge(person_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripbike_nys_val = df.copy()
        %store tripbike_nys_val
    elif i==3:
        df = pd.merge(person2009[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripbike2009_val = df.copy()
        %store tripbike2009_val
    elif i==4:
        df = pd.merge(person2009_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripbike2009_nys_val = df.copy()
        %store tripbike2009_nys_val

tripbike_val.head()

3220
229724
Stored 'tripbike_val' (DataFrame)
390
34510
Stored 'tripbike_nys_val' (DataFrame)
3898
275466
Stored 'tripbike2009_val' (DataFrame)
355
33435
Stored 'tripbike2009_nys_val' (DataFrame)

,HOUSEID,PERSONID,WTPERFIN,WTTRDFIN,TRPMILAD,PTLENGTH,TRVLCMIN,NUMTRIPS,COMMUTETRIPS,NUMVT,SPEED,Earn a Living,Family & Personal Business,Social & Recreational,All Other Purposes,12-3 am,3-6 am,6-9 am,9 am-12 pm,12-3 pm,3-6 pm,6-9 pm,9 pm-12 am,Purposes Unreported,Not Drived
0,30000007,1,206.690153,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30000007,2,197.075742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30000007,3,219.514210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,30000008,1,63.185911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30000008,2,58.665911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Value dataset - tripcommute_val

In [33]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG','STRTTIME']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
        

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    df['HOUR'] = df['STRTTIME'].astype(str).str.zfill(4).str[0:2]
    maplist = {("00","01","02"):'12-3 am',("03","04","05"):'3-6 am',("06","07","08"):'6-9 am',
            ("09","10","11"):'9 am-12 pm',("12","13","14"):'12-3 pm',("15","16","17"):'3-6 pm',
            ("18","19","20"):'6-9 pm',("21","22","23"):'9 pm-12 am'} # ,(-9):'Unreported'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HOUR'] = df['HOUR'].map(d).fillna('STRTIME Unreported')

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')
        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    df['COMMUTETRIPS'] = 0
    df.loc[df.WHYTRP90==1,'COMMUTETRIPS'] = 1

    ####################### commute trips only #####################
    df = df[df.COMMUTETRIPS == 1]

    df = pd.get_dummies(df,columns=['MODE','HOUR'], prefix='', prefix_sep='')

    df['NUMTRIPS'] = 1
    df['PTLENGTH'] = df['TRPMILAD']

    # List of columns to check for existence
    columns_to_check = ['Mode Unreported', 'Purposes Unreported','STRTIME Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'PTLENGTH': 'mean',
        'TRVLCMIN': 'sum',
        'NUMTRIPS': 'sum',
        'COMMUTETRIPS': 'sum',
        'NUMVT': 'sum', 
        'SPEED': 'mean',
        'POV': 'sum','Public Transport': 'sum','Walk': 'sum','Other Mode': 'sum',
        '12-3 am':'sum','3-6 am':'sum','6-9 am':'sum','9 am-12 pm':'sum','12-3 pm':'sum','3-6 pm':'sum','6-9 pm':'sum','9 pm-12 am':'sum'
    }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    df['NUMVT_FLG'] = 'Not Drived' # vehicle traveled or not
    df.loc[df['NUMVT']>0,'NUMVT_FLG'] = 'Drived'
    df = pd.get_dummies(df,columns=['NUMVT_FLG'], prefix='', prefix_sep='')
    
    print(len(df))
    
    # output data
    if i == 1:
        # # make sure # hh-person does not change (some people have zero trips)
        df = pd.merge(person[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripcommute_val = df.copy()
        %store tripcommute_val
    elif i==2:
        df = pd.merge(person_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripcommute_nys_val = df.copy()
        %store tripcommute_nys_val
    elif i==3:
        df = pd.merge(person2009[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripcommute2009_val = df.copy()
        %store tripcommute2009_val
    elif i==4:
        df = pd.merge(person2009_nys[['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripcommute2009_nys_val = df.copy()
        %store tripcommute2009_nys_val

tripcommute_val.head()

64635
229724
Stored 'tripcommute_val' (DataFrame)
9305
34510
Stored 'tripcommute_nys_val' (DataFrame)
63023
275466
Stored 'tripcommute2009_val' (DataFrame)
8079
33435
Stored 'tripcommute2009_nys_val' (DataFrame)

,HOUSEID,PERSONID,WTPERFIN,WTTRDFIN,TRPMILAD,PTLENGTH,TRVLCMIN,NUMTRIPS,COMMUTETRIPS,NUMVT,SPEED,POV,Public Transport,Walk,Other Mode,12-3 am,3-6 am,6-9 am,9 am-12 pm,12-3 pm,3-6 pm,6-9 pm,9 pm-12 am,Mode Unreported,Drived,Not Drived
0,30000007,1,206.690153,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30000007,2,197.075742,143865.291613,177.805952,88.902976,270.0,2.0,2.0,2.0,40.070105,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,30000007,3,219.514210,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,30000008,1,63.185911,46125.714856,17.212499,8.606250,25.0,2.0,2.0,2.0,43.031248,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,30000008,2,58.665911,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Value dataset - tripveh_val

In [26]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG','STRTTIME','NUMONTRP']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    df['HOUR'] = df['STRTTIME'].astype(str).str.zfill(4).str[0:2]
    maplist = {("00","01","02"):'12-3 am',("03","04","05"):'3-6 am',("06","07","08"):'6-9 am',
            ("09","10","11"):'9 am-12 pm',("12","13","14"):'12-3 pm',("15","16","17"):'3-6 pm',
            ("18","19","20"):'6-9 pm',("21","22","23"):'9 pm-12 am'} # ,(-9):'Unreported'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['HOUR'] = df['HOUR'].map(d).fillna('STRTIME Unreported')

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,19,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
        
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    ####################### vehicle trips only #####################
    df = df[df.NUMVT == 1]
    
    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    maplist = {(1,):'Travel Party of 1',(2,):'Travel Party of 2',(3,):'Travel Party of 3',(-9,):'Party Unreported'} 
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PARTY'] = df['NUMONTRP'].map(d).fillna('Travel Party of 4+')

    df = pd.get_dummies(df,columns=['PURP','HOUR','PARTY'], prefix='', prefix_sep='')

    df['NUMTRIPS'] = 1
    df['VTLENGTH'] = df['TRPMILAD']
    df['VTTIME'] = df['TRVLCMIN']

    # List of columns to check for existence
    columns_to_check = ['Purposes Unreported','STRTIME Unreported','Party Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'VTLENGTH': 'mean',
        'TRVLCMIN':'sum',
        'VTTIME':'mean',
        'Travel Party of 1':'sum',
        'Travel Party of 2':'sum',
        'Travel Party of 3':'sum',
        'Travel Party of 4+':'sum',
        'NUMTRIPS': 'sum',
        'SPEED': 'mean',
        'Earn a Living': 'sum','Family & Personal Business': 'sum','Social & Recreational': 'sum','All Other Purposes': 'sum',
        '12-3 am':'sum','3-6 am':'sum','6-9 am':'sum','9 am-12 pm':'sum','12-3 pm':'sum','3-6 pm':'sum','6-9 pm':'sum','9 pm-12 am':'sum'
    }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    print(len(df))
    
    # output data
    if i == 1:
        # # make sure # hh-person does not change (some people have zero trips)
        df = pd.merge(person.loc[person.DRIVER==1,['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripveh_val = df.copy()
        %store tripveh_val
    elif i==2:
        df = pd.merge(person_nys.loc[person_nys.DRIVER==1,['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripveh_nys_val = df.copy()
        %store tripveh_nys_val
    elif i==3:
        df = pd.merge(person2009.loc[person2009.DRIVER==1,['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripveh2009_val = df.copy()
        %store tripveh2009_val
    elif i==4:
        df = pd.merge(person2009_nys.loc[person2009_nys.DRIVER==1,['HOUSEID','PERSONID','WTPERFIN']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0) # person with no trips
        print(len(df))
        tripveh2009_nys_val = df.copy()
        %store tripveh2009_nys_val

tripveh_val.head()

136388
189534
Stored 'tripveh_val' (DataFrame)
19305
27918
Stored 'tripveh_nys_val' (DataFrame)
163097
223459
Stored 'tripveh2009_val' (DataFrame)
18689
26423
Stored 'tripveh2009_nys_val' (DataFrame)

,HOUSEID,PERSONID,WTPERFIN,WTTRDFIN,TRPMILAD,VTLENGTH,TRVLCMIN,VTTIME,Travel Party of 1,Travel Party of 2,Travel Party of 3,Travel Party of 4+,NUMTRIPS,SPEED,Earn a Living,Family & Personal Business,Social & Recreational,All Other Purposes,12-3 am,3-6 am,6-9 am,9 am-12 pm,12-3 pm,3-6 pm,6-9 pm,9 pm-12 am,Purposes Unreported,Party Unreported
0,30000007,1,206.690153,150883.811593,11.589234,5.794617,35.0,17.5,2.0,0.0,0.0,0.0,2.0,20.307644,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,30000007,2,197.075742,143865.291613,177.805952,88.902976,270.0,135.0,2.0,0.0,0.0,0.0,2.0,40.070105,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,30000007,3,219.514210,160245.373478,5.010144,2.505072,30.0,15.0,2.0,0.0,0.0,0.0,2.0,10.020289,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,30000008,1,63.185911,46125.714856,17.212499,8.606250,25.0,12.5,2.0,0.0,0.0,0.0,2.0,43.031248,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,30000008,2,58.665911,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Value dataset - trip_mode - This might be a bit problematic

In [27]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','DRVR_FLG','WHYTRP90']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        df = trip[cols]
    elif i == 2: # 2017
        df = trip_nys[cols] 
    elif i == 3: # 2009
        df = trip2009[cols]
    elif i==4: # 2009
        df = trip2009_nys[cols]
        
    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',(17,):'Taxi',
                (2,7,10,12,13,14,19,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',(19,):'Taxi',
                (8,11,12,13,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    df['MODE2'] = df['MODE']
    df.loc[(df['DRVR_FLG']==1) & (df['MODE2']=='POV'),'MODE2'] = 'POV-Driver'
    df.loc[(df['DRVR_FLG']==2) & (df['MODE2']=='POV'),'MODE2'] = 'POV-Passenger'
    
    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')
    
    df = pd.get_dummies(df,columns=['PURP'], prefix='', prefix_sep='')

    df['NUMTRIPS'] = 1

    # List of columns to check for existence
    columns_to_check = ['Purposes Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'NUMTRIPS': 'sum',
        'Earn a Living': 'sum','Family & Personal Business': 'sum','Social & Recreational': 'sum','All Other Purposes': 'sum',
    }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID','MODE2'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    print(len(df))
    
    # output data
    if i == 1:
        print(len(df))
        trip_mode = df.copy()
        %store trip_mode
    elif i==2:
        print(len(df))
        trip_nys_mode = df.copy()
        %store trip_nys_mode
    elif i==3:
        print(len(df))
        trip2009_mode = df.copy()
        %store trip2009_mode
    elif i==4:
        print(len(df))
        trip2009_nys_mode = df.copy()
        %store trip2009_nys_mode

trip_mode.head()

240885
240885
Stored 'trip_mode' (DataFrame)
37015
37015
Stored 'trip_nys_mode' (DataFrame)
304378
304378
Stored 'trip2009_mode' (DataFrame)
37934
37934
Stored 'trip2009_nys_mode' (DataFrame)

,HOUSEID,PERSONID,MODE2,WTTRDFIN,NUMTRIPS,Earn a Living,Family & Personal Business,Social & Recreational,All Other Purposes,Purposes Unreported
0,30000007,1,POV-Driver,150883.811593,2,0,0,0,2,0
1,30000007,2,POV-Driver,143865.291613,2,2,0,0,0,0
2,30000007,3,POV-Driver,160245.373478,2,0,0,0,2,0
3,30000008,1,POV-Driver,46125.714856,2,2,0,0,0,0
4,30000019,1,POV-Driver,170191.152127,2,0,2,0,0,0

# Value dataset - trip_purp

In [28]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,19,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    df['NUMTRIPS'] = 1

    # List of columns to check for existence
    columns_to_check = ['Mode Unreported', 'Purposes Unreported','STRTIME Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'TRVLCMIN': 'sum',
        'NUMTRIPS': 'sum',
        'NUMVT': 'sum', 
        'SPEED': 'mean',
     }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID','PURP'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    df = df.pivot(index=['HOUSEID','PERSONID'], columns=['PURP'], 
                  values=['TRPMILAD','TRVLCMIN','SPEED']).fillna(0) # .reset_index()
    print(len(df))
    
    # output data
    if i == 1:
        df = pd.merge(person[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        trip_purp = df.reset_index().copy()
        %store trip_purp
    elif i==2:
        df = pd.merge(person_nys[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        trip_nys_purp = df.reset_index().copy()
        %store trip_nys_purp
    elif i==3:
        df = pd.merge(person2009[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        trip2009_purp = df.reset_index().copy()
        %store trip2009_purp
    elif i==4:
        df = pd.merge(person2009_nys[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        trip2009_nys_purp = df.reset_index().copy()
        %store trip2009_nys_purp

trip_purp.head()

190744
229724
Stored 'trip_purp' (DataFrame)
28516
34510
Stored 'trip_nys_purp' (DataFrame)
234534
275466
Stored 'trip2009_purp' (DataFrame)
28400
33435
Stored 'trip2009_nys_purp' (DataFrame)

    HOUSEID PERSONID           TRPMILAD                \
                     All Other Purposes Earn a Living
0  30000007        1          11.589234      0.000000
1  30000007        2           0.000000    177.805952
2  30000007        3           5.010144      0.000000
3  30000008        1           0.000000     17.212499
4  30000008        2           0.000000      0.000000

                                                                        \
  Family & Personal Business Purposes Unreported Social & Recreational
0                        0.0                 0.0                   0.0
1                        0.0                 0.0                   0.0
2                        0.0                 0.0                   0.0
3                        0.0                 0.0                   0.0
4                        0.0                 0.0                   0.0

            TRVLCMIN                                           \
  All Other Purposes Earn a Living Family & Personal Business
0               35.0           0.0                        0.0
1                0.0         270.0                        0.0
2               30.0           0.0                        0.0
3                0.0          25.0                        0.0
4                0.0           0.0                        0.0

                                                         SPEED                \
  Purposes Unreported Social & Recreational All Other Purposes Earn a Living
0                 0.0                   0.0          20.307644      0.000000
1                 0.0                   0.0           0.000000     40.070105
2                 0.0                   0.0          10.020289      0.000000
3                 0.0                   0.0           0.000000     43.031248
4                 0.0                   0.0           0.000000      0.000000


  Family & Personal Business Purposes Unreported Social & Recreational
0                        0.0                 0.0                   0.0
1                        0.0                 0.0                   0.0
2                        0.0                 0.0                   0.0
3                        0.0                 0.0                   0.0
4                        0.0                 0.0                   0.0

# Value dataset - tripcommute_purp

In [37]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,19,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan

    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    df['COMMUTETRIPS'] = 0
    df.loc[df.WHYTRP90==1,'COMMUTETRIPS'] = 1

    ####################### commute trips only #####################
    df = df[df.COMMUTETRIPS == 1]
    
    df['NUMTRIPS'] = 1

    # List of columns to check for existence
    columns_to_check = ['Mode Unreported', 'Purposes Unreported','STRTIME Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'TRVLCMIN': 'sum',
        'NUMTRIPS': 'sum',
        'NUMVT': 'sum', 
        'SPEED': 'mean',
     }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID','MODE'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    
    df = df.pivot(index=['HOUSEID','PERSONID'], columns=['MODE'], 
                  values=['TRPMILAD','TRVLCMIN','SPEED']).fillna(0) # .reset_index()
    print(len(df))
    
    # output data
    if i == 1:
        df = pd.merge(person[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        tripcommute_purp = df.reset_index().copy()
        %store tripcommute_purp
    elif i==2:
        df = pd.merge(person_nys[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        tripcommute_nys_purp = df.reset_index().copy()
        %store tripcommute_nys_purp
    elif i==3:
        df = pd.merge(person2009[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        tripcommute2009_purp = df.reset_index().copy()
        %store tripcommute2009_purp
    elif i==4:
        df = pd.merge(person2009_nys[['HOUSEID','PERSONID']], df,on=['HOUSEID','PERSONID'],how='left').fillna(0).set_index(['HOUSEID','PERSONID']) # person with no trips
        df.columns = pd.MultiIndex.from_tuples(df.columns)
        print(len(df))
        tripcommute2009_nys_purp = df.reset_index().copy()
        %store tripcommute2009_nys_purp

tripcommute_purp.head()

64635
229724
Stored 'tripcommute_purp' (DataFrame)
9305
34510
Stored 'tripcommute_nys_purp' (DataFrame)
63023
275466
Stored 'tripcommute2009_purp' (DataFrame)
8079
33435
Stored 'tripcommute2009_nys_purp' (DataFrame)

    HOUSEID PERSONID        TRPMILAD                                          \
                     Mode Unreported Other Mode         POV Public Transport
0  30000007        1             0.0        0.0    0.000000              0.0
1  30000007        2             0.0        0.0  177.805952              0.0
2  30000007        3             0.0        0.0    0.000000              0.0
3  30000008        1             0.0        0.0   17.212499              0.0
4  30000008        2             0.0        0.0    0.000000              0.0

              TRVLCMIN                                          \
  Walk Mode Unreported Other Mode    POV Public Transport Walk
0  0.0             0.0        0.0    0.0              0.0  0.0
1  0.0             0.0        0.0  270.0              0.0  0.0
2  0.0             0.0        0.0    0.0              0.0  0.0
3  0.0             0.0        0.0   25.0              0.0  0.0
4  0.0             0.0        0.0    0.0              0.0  0.0

            SPEED
  Mode Unreported Other Mode        POV Public Transport Walk
0             0.0        0.0   0.000000              0.0  0.0
1             0.0        0.0  40.070105              0.0  0.0
2             0.0        0.0   0.000000              0.0  0.0
3             0.0        0.0  43.031248              0.0  0.0
4             0.0        0.0   0.000000              0.0  0.0

# Value dataset - tripveh_purpose (not used)

In [29]:
common_cols = ['HOUSEID','PERSONID','WTTRDFIN','TRPTRANS','WHYTRP90','TRVLCMIN','DRVR_FLG','STRTTIME']
for i in [1,2,3,4]:
    # read data
    if i == 1: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip[cols]
    elif i == 2: # 2017
        cols = common_cols+['TRPMILAD']
        df = trip_nys[cols] 
    elif i == 3: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})
    elif i == 4: # 2009
        cols = common_cols+['TRPMILES']
        df = trip2009_nys[cols]
        df = df.rename(columns={'TRPMILES':'TRPMILAD'})

    df['SPEED'] = df['TRPMILAD']/df['TRVLCMIN']*60

    if i in [1,2]: # 2017
        maplist = {(1,):'Walk',(3,4,5,6,8,9,18):'POV',(11,15,16):'Public Transport',
                (2,7,10,12,13,14,17,19,20,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([3,4,5,6,8,9,18])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    else: # 2009
        maplist = {(23,):'Walk',(1,2,3,4,5,6,7):'POV',(9,10,14,15,16,17,18):'Public Transport',
                (8,11,12,13,19,20,22,24,97):'Other Mode'} 
        d = {k: v for tup, v in maplist.items() for k in tup}
        df['MODE'] = df['TRPTRANS'].map(d).fillna('Mode Unreported')

        df['NUMVT']=0 # number of vehicle trips
        df.loc[(df['DRVR_FLG']==1) & (df['TRPTRANS'].isin([1,2,3,4,5,6,7])),'NUMVT'] = 1
        df.loc[(df['DRVR_FLG']<0) | (df['MODE'].isin(['Mode Unreported'])),'NUMVT'] = np.nan
    
    ####################### vehicle trips only #####################
    df = df[df.NUMVT == 1]
    
    maplist = {(1,2):'Earn a Living',(3,4,6):'Family & Personal Business',
            (7,8,9,10):'Social & Recreational',(11,5):'All Other Purposes'} # ,(98,99):'Unreported Purposes'
    d = {k: v for tup, v in maplist.items() for k in tup}
    df['PURP'] = df['WHYTRP90'].map(d).fillna('Purposes Unreported')

    # df = pd.get_dummies(df,columns=['MODE','HOUR'], prefix='', prefix_sep='')

    df['NUMTRIPS'] = 1

    # List of columns to check for existence
    columns_to_check = ['Mode Unreported', 'Purposes Unreported','STRTIME Unreported']
    
    # Initialize the aggregation dictionary with common columns
    aggregation_dict = {
        'WTTRDFIN':'sum',
        'TRPMILAD': 'sum',
        'TRVLCMIN': 'sum',
        'NUMTRIPS': 'sum',
        'SPEED': 'mean'
    }

    # Check for the existence of columns in the DataFrame and add them to the aggregation_dict
    for column in columns_to_check:
        if column in df:
            aggregation_dict[column] = 'sum'

    df = df.groupby(['HOUSEID','PERSONID','PURP'], observed=True).agg(aggregation_dict)
    df = df.reset_index() 
    df = df.pivot(index=['HOUSEID','PERSONID'], columns=['PURP'], values=['TRPMILAD','TRVLCMIN','SPEED']).fillna(0)
    df = df.reset_index() 
    print(len(df))
    
    # output data
    if i == 1:
        print(len(df))
        tripveh_purp = df.copy()
        %store tripveh_purp
    elif i==2:
        print(len(df))
        tripveh_nys_purp = df.copy()
        %store tripveh_nys_purp
    elif i==3:
        print(len(df))
        tripveh2009_purp = df.copy()
        %store tripveh2009_purp
    elif i==4:
        print(len(df))
        tripveh2009_nys_purp = df.copy()
        %store tripveh2009_nys_purp
tripveh_purp.head()

136388
136388
Stored 'tripveh_purp' (DataFrame)
19305
19305
Stored 'tripveh_nys_purp' (DataFrame)
163097
163097
Stored 'tripveh2009_purp' (DataFrame)
18689
18689
Stored 'tripveh2009_nys_purp' (DataFrame)

       HOUSEID PERSONID           TRPMILAD                \
PURP                    All Other Purposes Earn a Living
0     30000007        1          11.589234      0.000000
1     30000007        2           0.000000    177.805952
2     30000007        3           5.010144      0.000000
3     30000008        1           0.000000     17.212499
4     30000019        1           0.000000      0.000000

                                                                           \
PURP Family & Personal Business Purposes Unreported Social & Recreational
0                      0.000000                 0.0                   0.0
1                      0.000000                 0.0                   0.0
2                      0.000000                 0.0                   0.0
3                      0.000000                 0.0                   0.0
4                      6.800995                 0.0                   0.0

               TRVLCMIN                                           \
PURP All Other Purposes Earn a Living Family & Personal Business
0                  35.0           0.0                        0.0
1                   0.0         270.0                        0.0
2                  30.0           0.0                        0.0
3                   0.0          25.0                        0.0
4                   0.0           0.0                       30.0

                                                            SPEED  \
PURP Purposes Unreported Social & Recreational All Other Purposes
0                    0.0                   0.0          20.307644
1                    0.0                   0.0           0.000000
2                    0.0                   0.0          10.020289
3                    0.0                   0.0           0.000000
4                    0.0                   0.0           0.000000

                                                                   \
PURP Earn a Living Family & Personal Business Purposes Unreported
0         0.000000                    0.00000                 0.0
1        40.070105                    0.00000                 0.0
2         0.000000                    0.00000                 0.0
3        43.031248                    0.00000                 0.0
4         0.000000                   13.60199                 0.0


PURP Social & Recreational
0                      0.0
1                      0.0
2                      0.0
3                      0.0
4                      0.0